/* Palette, valid options are: discord, comfy, */
@forward 'palettes/comfy';

/* Options (type // before the line to disable) */
@forward 'layout/chat-bubbles';
@forward 'layout/right-align-self';
@forward  'layout/colorized';  /* Adds unique colors to most buttons in the UI (incomplete, */

/* Required imports - DO NOT TOUCH, more settings below */
@forward 'layout/radius';       /* Apply radius variable to avatars & server icons*/
@forward 'layout/pisscorp';     /* Fix discord's jank non-use of theme variables on certain menus */
@forward 'layout/plugins';      /* Plugin-related styling (support/fixes) */
@forward 'layout/user-popout';
@forward 'layout/user-modal';
@forward 'layout/chat';         /* Chat, channel list, toolbar, user area */
@forward 'layout/no-nitro';     /* Hide all options for your use of nitro-only features (for example: hides the nitro gift & send sticker buttons) */

/* Reverts the 2021 Discord rebrand. Type // before to disable. */
@import url("https://goose-nest.github.io/GT-RevertRebrand/src/main.css");

/* Variables */
:root {
  --avatar-radius: 5px;
  --server-radius: 8px;

  /* testing */
  /*--header-primary: #fff; /* Server title, channel title, Selected server pill, friend names, dm user names, etc.*/
  /*--header-secondary: #b9bbbe; /* Channel topic, subtitles, etc. */

  /*--text-normal: #dcddde; /* Chat text, tooltips home icon color */
  /*--text-muted: #72767d; /* Channel icons, message timestamps, placeholder text, discord logo in top left */
  /*--text-link: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);/* yup, it's links */
  /*--text-link-low-saturation: hsl(197,calc(var(--saturation-factor, 1)*100%),52.9%);
  --text-positive: hsl(139,calc(var(--saturation-factor, 1)*66.8%),58.6%);
  --text-warning: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
  --text-danger: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);

  --interactive-normal: #b9bbbe;
  --interactive-hover: #dcddde;
  --interactive-active: #fff;
  --interactive-muted: #4f545c;

  /* Lightest to Darkest */
  /*--background-primary: var(--background); /* Channel background, top bar, settings content | 36393f */
  /*--background-secondary: calc(var(--background) * 0.5); /* Channel, member, and settings list, quoteblocks, embed backgrounds | 2f3136 */
  /*--background-secondary-alt: #004; /* bottom left user area, user popout message bg, connections header | 292b2f */
  /*--background-tertiary: #440; /* Title bar & server list, search text bar | 202225 */
  /*--background-accent: #0ff; /* reply line | 4f545c */
  /*--background-floating: #404; /* User popout background, tooltip background | 18191c */

  /*--background-modifier-hover: #0ff;/* Channel, member, and settings list hover | rgba(79,84,92,0.16);*/
  /*--background-modifier-active: #f0f;/* Channel, member, and settings list clicking (mouse down) | rgba(79,84,92,0.24);*/
  /*--background-modifier-selected: #aa0;/* Channel, member, and settings list selected | rgba(79,84,92,0.32);*/
  /*--background-modifier-accent: hsla(0,0%,100%,0.06);/* Section dividers | hsla(0,0%,100%,0.06);*/

  /*--info-positive-text: #fff;
  --info-warning-text: #fff;
  --info-danger-text: #fff;
  --info-help-background: hsla(197,calc(var(--saturation-factor, 1)*100%),47.8%,0.1);
  --info-help-foreground: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
  --info-help-text: #fff;

  --status-warning-text: #000;
  --scrollbar-thin-thumb: #fff; /* Channel, Member, & Settings lists (on hover), All Modals (regardless of if scrolls), shows up but never scrolls: user popout, all context menus | #202225 */
  /*--scrollbar-thin-track: #000; /* Track for above, no rounding | transparent */
  /*--scrollbar-auto-thumb: #202225; /* Chat | #202225 */
  /*--scrollbar-auto-track: hsl(210,calc(var(--saturation-factor, 1)*9.8%),20%); /* Track for above | hsl(210,calc(var(--saturation-factor, 1)*9.8%),20%);*/
  /*--scrollbar-auto-scrollbar-color-thumb: #0ff;
  --scrollbar-auto-scrollbar-color-track: #ff0;
  /*
  --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
  --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
  --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
  --elevation-high: 0 8px 16px rgba(0,0,0,0.24);

  --logo-primary: #fff;

  --control-brand-foreground: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
  --control-brand-foreground-new: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);

  --background-mentioned: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.1);
  --background-mentioned-hover: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.08);
  --background-message-hover: rgba(4,4,5,0.07);

  --channels-default: #8e9297; /* Channel list text (channel & category names), member list status text */
  /*--guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);*/
  /*--activity-card-background: #202225; /*  */
  /*--textbox-markdown-syntax: #8e9297;

  /*--deprecated-card-bg: rgba(32,34,37,0.6);
  --deprecated-card-editable-bg: rgba(32,34,37,0.3);
  --deprecated-store-bg: #36393f;
  --deprecated-quickswitcher-input-background: #72767d;
  --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
  --deprecated-text-input-bg: rgba(0,0,0,0.1);
  --deprecated-text-input-border: rgba(0,0,0,0.3);
  --deprecated-text-input-border-hover: #040405;
  --deprecated-text-input-border-disabled: #202225;
  --deprecated-text-input-prefix: #dcddde;*/
}