.theme-dark {
  --_pointless-palette_set-blue-primary:                rgba(27 ,35 ,64 ,var(--pointless-palette-blue)); /* 58, 25 */
  --_pointless-palette_set-blue-primary_alt:            rgba(25 ,31 ,56 ,var(--pointless-palette-blue)); /* 55, 23 */
  --_pointless-palette_set-blue-secondary:              rgba(23 ,29 ,54 ,var(--pointless-palette-blue)); /* 57, 21 */
  --_pointless-palette_set-blue-secondary_alt:          rgba(18 ,22 ,41 ,var(--pointless-palette-blue)); /* 56, 16 */
  --_pointless-palette_set-blue-tertiary:               rgba(11 ,14 ,26 ,var(--pointless-palette-blue)); /* 58, 10 */
  --_pointless-palette_set-blue-chatbubble_self_0:      rgba(65 ,82 ,163,var(--pointless-palette-blue));
  --_pointless-palette_set-blue-chatbubble_self_100:    rgba(52 ,65 ,131,var(--pointless-palette-blue));
  /*--_pointless-palette_set-blue-chatbubble_other_0:     rgba(23 ,29 ,54 ,var(--pointless-palette-blue)); /* secondary */
  /*--_pointless-palette_set-blue-chatbubble_other_100:   rgba(18 ,22 ,41 ,var(--pointless-palette-blue)); /* secondary-alt */

  --_pointless-palette_set-green-primary:                rgba(27 ,64 ,38 ,var(--pointless-palette-green));
  --_pointless-palette_set-green-primary_alt:            rgba(25 ,56 ,35, var(--pointless-palette-green));
  --_pointless-palette_set-green-secondary:              rgba(23 ,54 ,32 ,var(--pointless-palette-green));
  --_pointless-palette_set-green-secondary_alt:          rgba(18 ,41 ,25 ,var(--pointless-palette-green));
  --_pointless-palette_set-green-tertiary:               rgba(11 ,26 ,15 ,var(--pointless-palette-green));
  --_pointless-palette_set-green-chatbubble_self_0:      rgba(46 ,139,87 ,var(--pointless-palette-green));
  --_pointless-palette_set-green-chatbubble_self_100:    rgba(42 ,127,42 ,var(--pointless-palette-green));
  /*--_pointless-palette_set-green-chatbubble_self:        linear-gradient(#4152a3 0%,#344183 100%);
  --_pointless-palette_set-green-chatbubble_other:       linear-gradient(var(--background-secondary) 0%,var(--background-secondary-alt) 100%);*/

  --_pointless-palette_set-yellow-pri_m: rgba(255,255,0, var(--pointless-palette-yellow));
  --_pointless-palette_set-yellow-pri_a: rgba(225,225,0, var(--pointless-palette-yellow));
  --_pointless-palette_set-yellow-sec_m: rgba(176,176,0, var(--pointless-palette-yellow));
  --_pointless-palette_set-yellow-sec_a: rgba(127,127,0, var(--pointless-palette-yellow));
  --_pointless-palette_set-yellow-terti: rgba(63 ,63 ,0, var(--pointless-palette-yellow));

  --_pointless-palette_set-background-primary:                rgba(0 ,0 ,0 ,var(--pointless-palette-background));
  --_pointless-palette_set-background-primary_alt:            rgba(0 ,0 ,0, var(--pointless-palette-background));
  --_pointless-palette_set-background-secondary:              rgba(0 ,0 ,0 ,var(--pointless-palette-background));
  --_pointless-palette_set-background-secondary_alt:          rgba(0 ,0 ,0 ,var(--pointless-palette-background));
  --_pointless-palette_set-background-tertiary:               rgba(0 ,0 ,0 ,var(--pointless-palette-background));
  --_pointless-palette_set-background-chatbubble_self_0:      rgba(46 ,139,87 ,var(--pointless-palette-background));
  --_pointless-palette_set-background-chatbubble_self_100:    rgba(42 ,127,42 ,var(--pointless-palette-background));

  --background-primary:       var(--_pointless-palette_set-blue-primary, var(--_pointless-palette_set-yellow-primary, var(--_pointless-palette_set-green-primary, var(--_pointless-palette_set-background-primary, #36393fdc))));
  --background-primary-alt:   var(--_pointless-palette_set-blue-primary_alt, var(--_pointless-palette_set-yellow-primary_alt, var(--_pointless-palette_set-green-primary_alt, var(--_pointless-palette_set-background-primary_alt, #33363b))));
  --background-secondary:     var(--_pointless-palette_set-blue-secondary, var(--_pointless-palette_set-yellow-secondary, var(--_pointless-palette_set-green-secondary, var(--_pointless-palette_set-background-secondary, #2f3136))));
  --background-secondary-alt: var(--_pointless-palette_set-blue-secondary_alt, var(--_pointless-palette_set-yellow-secondary_alt, var(--_pointless-palette_set-green-secondary_alt, var(--_pointless-palette_set-background-secondary_alt, #292b2f))));
  --background-tertiary:      var(--_pointless-palette_set-blue-tertiary, var(--_pointless-palette_set-yellow-tertiary, var(--_pointless-palette_set-green-tertiary, var(--_pointless-palette_set-background-tertiary, #202225))));

  --chatbubble-self: linear-gradient(var(--_pointless-palette_set-blue-chatbubble_self_0, var(--_pointless-palette_set-yellow-chatbubble_self_0, var(--_pointless-palette_set-green-chatbubble_self_0, var(--brand-experiment-600)))) 0%,var(--_pointless-palette_set-blue-chatbubble_self_100, var(--_pointless-palette_set-yellow-chatbubble_self_100, var(--_pointless-palette_set-green-chatbubble_self_100, var(--brand-experiment)))) 100%);
  --chatbubble-other: linear-gradient(var(--background-secondary) 0%, var(--background-secondary-alt) 100%);
}

.theme-light {
  --_pointless-palette_set-blue-primary:                rgba(208,221,242,var(--pointless-palette-blue));
  --_pointless-palette_set-blue-primary_alt:            rgba(192,209,235,var(--pointless-palette-blue));
  --_pointless-palette_set-blue-secondary:              rgba(222,233,250,var(--pointless-palette-blue));
  --_pointless-palette_set-blue-secondary_alt:          rgba(206,220,242,var(--pointless-palette-blue));
  --_pointless-palette_set-blue-tertiary:               rgba(163,183,217,var(--pointless-palette-blue));
  --_pointless-palette_set-blue-chatbubble_self_0:      linear-gradient(#4152a3 0%,#344183 100%);
  --_pointless-palette_set-blue-chatbubble_other_100:   linear-gradient(var(--background-secondary) 0%,var(--background-secondary-alt) 100%);

  /* green: 23 ,127,54 */

  --background-primary:       var(--_pointless-palette_set-blue-primary, var(--_pointless-palette_set-yellow-primary, var(--_pointless-palette_set-green-primary, var(--_pointless-palette_set-background-primary, #fff))));
  --background-primary-alt:   var(--_pointless-palette_set-blue-primary_alt, var(--_pointless-palette_set-yellow-primary_alt, var(--_pointless-palette_set-green-primary_alt, var(--_pointless-palette_set-background-primary_alt, #f8f9f9))));
  --background-secondary:     var(--_pointless-palette_set-blue-secondary, var(--_pointless-palette_set-yellow-secondary, var(--_pointless-palette_set-green-secondary, var(--_pointless-palette_set-background-secondary, #f2f3f5))));
  --background-secondary-alt: var(--_pointless-palette_set-blue-secondary_alt, var(--_pointless-palette_set-yellow-secondary_alt, var(--_pointless-palette_set-green-secondary_alt, var(--_pointless-palette_set-background-secondary_alt, #ebedef))));
  --background-tertiary:      var(--_pointless-palette_set-blue-tertiary, var(--_pointless-palette_set-yellow-tertiary, var(--_pointless-palette_set-green-tertiary, var(--_pointless-palette_set-background-tertiary, #e3e5e8))));

  --chatbubble-self: linear-gradient(var(--_pointless-palette_set-blue-chatbubble_self_0, var(--_pointless-palette_set-yellow-chatbubble_self_0, var(--_pointless-palette_set-green-chatbubble_self_0, var(--brand-experiment-600)))) 0%,var(--_pointless-palette_set-blue-chatbubble_self_100, var(--_pointless-palette_set-yellow-chatbubble_self_100, var(--_pointless-palette_set-green-chatbubble_self_100, var(--brand-experiment)))) 100%);
  --chatbubble-other: linear-gradient(var(--background-secondary) 0%, var(--background-secondary-alt) 100%);
}

:root {
  /*--background-accent: #7289da;                     /* Reply & thread line (channel list & creation message) */
  --channeltextarea-background: var(--background-secondary); /* Message textarea */
  --background-floating: var(--background-tertiary);  /* User popout background, tooltip background */

  --deprecated-card-bg: var(--background-secondary);

  --scrollbar-thin-thumb: var(--background-tertiary); /* Channel, Member, & Settings lists (on hover), All Modals (regardless of if scrolls), shows up but never scrolls: user popout, all context menus */
  /*--scrollbar-thin-track: transparent;              /* Track for above, no rounding | transparent */
  --scrollbar-auto-thumb: var(--background-tertiary); /* Chat & friends page */
  --scrollbar-auto-track: var(--background-secondary);/* Track for above */
}

#app-mount {
  background-image: var(--pointless-background-image);
}