.theme-dark {
  /* Forest */
  --_pointless-palette_set-forest-primary:                  rgba(27 ,64 ,38 ,var(--pointless-palette-forest));
  --_pointless-palette_set-forest-primary_alt:              rgba(25 ,56 ,35 ,var(--pointless-palette-forest));
  --_pointless-palette_set-forest-secondary:                rgba(23 ,54 ,32 ,var(--pointless-palette-forest));
  --_pointless-palette_set-forest-secondary_alt:            rgba(18 ,41 ,25 ,var(--pointless-palette-forest));
  --_pointless-palette_set-forest-tertiary:                 rgba(11 ,26 ,15 ,var(--pointless-palette-forest));
  --_pointless-palette_set-forest-chatbubble_self_0:        rgba(46 ,139,87 ,var(--pointless-palette-forest));
  --_pointless-palette_set-forest-chatbubble_self_100:      rgba(42 ,127,42 ,var(--pointless-palette-forest));

  /* "yellow" incomplete */
  --_pointless-palette_set-yellow-primary:                  rgba(255,255,0, var(--pointless-palette-yellow));
  --_pointless-palette_set-yellow-primary_alt:              rgba(225,225,0, var(--pointless-palette-yellow));
  --_pointless-palette_set-yellow-secondary:                rgba(176,176,0, var(--pointless-palette-yellow));
  --_pointless-palette_set-yellow-secondary_alt:            rgba(127,127,0, var(--pointless-palette-yellow));
  --_pointless-palette_set-yellow-tertiary:                 rgba(63 ,63 ,0, var(--pointless-palette-yellow));
  --_pointless-palette_set-yellow-chatbubble_self_0:        rgba(46 ,139,87 ,var(--pointless-palette-yellow));
  --_pointless-palette_set-yellow-chatbubble_self_100:      rgba(42 ,127,42 ,var(--pointless-palette-yellow));

  /* Discord */
  --_pointless-palette_set-discord-primary:                 rgba(54 ,57 ,63 ,var(--pointless-palette-discord));
  --_pointless-palette_set-discord-primary_alt:             rgba(51 ,54 ,59 ,var(--pointless-palette-discord));
  --_pointless-palette_set-discord-secondary:               rgba(47 ,49 ,54 ,var(--pointless-palette-discord));
  --_pointless-palette_set-discord-secondary_alt:           rgba(41 ,43 ,47 ,var(--pointless-palette-discord));
  --_pointless-palette_set-discord-tertiary:                rgba(32 ,34 ,37 ,var(--pointless-palette-discord));
  --_pointless-palette_set-discord-chatbubble_self_0:       rgba(60, 69, 166,var(--pointless-palette-discord));
  --_pointless-palette_set-discord-chatbubble_self_100:     rgba(88 ,101,242,var(--pointless-palette-discord));

  /* Background (black, meant for use with a background image) */
  --_pointless-palette_set-background-primary:              rgba(0 ,0 ,0 ,var(--pointless-palette-background));
  --_pointless-palette_set-background-primary_alt:          rgba(0 ,0 ,0, var(--pointless-palette-background));
  --_pointless-palette_set-background-secondary:            rgba(0 ,0 ,0 ,var(--pointless-palette-background));
  --_pointless-palette_set-background-secondary_alt:        rgba(0 ,0 ,0 ,var(--pointless-palette-background));
  --_pointless-palette_set-background-tertiary:             rgba(0 ,0 ,0 ,var(--pointless-palette-background));
  --_pointless-palette_set-background-chatbubble_self_0:    rgba(46 ,139,87 ,var(--pointless-palette-background));
  --_pointless-palette_set-background-chatbubble_self_100:  rgba(42 ,127,42 ,var(--pointless-palette-background));

  /* Select colors based on which variables are valid (Alpha channel != 0)
   * If no variables are valid (no valid palette selected), default to blue. */
  --background-primary:       var(--_pointless-palette_set-forest-primary,
                                var(--_pointless-palette_set-yellow-primary,
                                var(--_pointless-palette_set-discord-primary,
                                var(--_pointless-palette_set-background-primary,#1b2340))));
  --background-primary-alt:   var(--_pointless-palette_set-forest-primary_alt,
                                var(--_pointless-palette_set-yellow-primary_alt,
                                var(--_pointless-palette_set-discord-primary_alt,
                                var(--_pointless-palette_set-background-primary_alt, #191f38))));
  --background-secondary:     var(--_pointless-palette_set-forest-secondary,
                                var(--_pointless-palette_set-yellow-secondary,
                                var(--_pointless-palette_set-discord-secondary,
                                var(--_pointless-palette_set-background-secondary, #171d36))));
  --background-secondary-alt: var(--_pointless-palette_set-forest-secondary_alt,
                                var(--_pointless-palette_set-yellow-secondary_alt,
                                var(--_pointless-palette_set-discord-secondary_alt,
                                var(--_pointless-palette_set-background-secondary_alt, #121629))));
  --background-tertiary:      var(--_pointless-palette_set-forest-tertiary,
                                var(--_pointless-palette_set-yellow-tertiary,
                                var(--_pointless-palette_set-discord-tertiary,
                                var(--_pointless-palette_set-background-tertiary, #0b0e1a))));

  --chatbubble-self:  linear-gradient(var(--_pointless-palette_set-forest-chatbubble_self_0,
                                        var(--_pointless-palette_set-yellow-chatbubble_self_0,
                                        var(--_pointless-palette_set-discord-chatbubble_self_0,
                                        var(--_pointless-palette_set-background-chatbubble_self_0, #4152a3)))) 0%,
                                      var(--_pointless-palette_set-forest-chatbubble_self_100,
                                        var(--_pointless-palette_set-yellow-chatbubble_self_100,
                                        var(--_pointless-palette_set-discord-chatbubble_self_100,
                                        var(--_pointless-palette_set-background-chatbubble_self_100, #344183)))) 100%);

  --chatbubble-other: linear-gradient(var(--background-secondary) 0%,var(--background-secondary-alt) 100%);
}

.theme-light {
  /* Light mode support is unfinished, this is just here to make sure the interface is usable */
  --_pointless-palette_set-blue-primary:                rgba(208,221,242,var(--pointless-palette-blue));
  --_pointless-palette_set-blue-primary_alt:            rgba(192,209,235,var(--pointless-palette-blue));
  --_pointless-palette_set-blue-secondary:              rgba(222,233,250,var(--pointless-palette-blue));
  --_pointless-palette_set-blue-secondary_alt:          rgba(206,220,242,var(--pointless-palette-blue));
  --_pointless-palette_set-blue-tertiary:               rgba(163,183,217,var(--pointless-palette-blue));
  --_pointless-palette_set-blue-chatbubble_self_0:      rgba(0  ,200,211,var(--pointless-palette-blue));
  --_pointless-palette_set-blue-chatbubble_self_100:    rgba(100,122,232,var(--pointless-palette-blue));

  /* forest: 23 ,127,54 */

  --background-primary:       var(--_pointless-palette_set-blue-primary, #fff);
  --background-primary-alt:   var(--_pointless-palette_set-blue-primary_alt, #f8f9f9);
  --background-secondary:     var(--_pointless-palette_set-blue-secondary, #f2f3f5);
  --background-secondary-alt: var(--_pointless-palette_set-blue-secondary_alt, #ebedef);
  --background-tertiary:      var(--_pointless-palette_set-blue-tertiary, #e3e5e8);

  --chatbubble-self: linear-gradient(var(--_pointless-palette_set-blue-chatbubble_self_0, var(--brand-experiment-300)) 0%,
                                     var(--_pointless-palette_set-blue-chatbubble_self_100, var(--brand-experiment-200)) 100%);
  --chatbubble-other: linear-gradient(var(--background-secondary) 0%, var(--background-secondary-alt) 100%);
}

/* Reapply some colors to other areas to reduce the number of variables per palette */
:root {
  /*--background-accent: #7289da;                     /* Reply & thread line (channel list & creation message) */
  --channeltextarea-background: var(--background-secondary); /* Message textarea */
  --background-floating: var(--background-tertiary);  /* User popout background, tooltip background */

  --deprecated-card-bg: var(--background-secondary);

  --scrollbar-thin-thumb: var(--background-tertiary); /* Channel, Member, & Settings lists (on hover), All Modals (regardless of if scrolls), shows up but never scrolls: user popout, all context menus */
  /*--scrollbar-thin-track: transparent;              /* Track for above, no rounding | transparent */
  --scrollbar-auto-thumb: var(--background-tertiary); /* Chat & friends page */
  --scrollbar-auto-track: var(--background-secondary);/* Track for above */

  /* mobile vars, used on the login screen?? */
  --background-mobile-primary: var(--background-primary);
  --background-mobile-secondary: var(--background-secondary);
  --input-background: var(--background-tertiary);

  /* Radius variables */
  --_pointless-radius-avatar: var(--pointless-radius-avatar, 20%);
  --_pointless-radius-server: var(--pointless-radius-server, 10%);
  --_pointless-radius-interface: var(--pointless-radius-interface, 6px);
}

/* Background image */
#app-mount {
  background-image: var(--pointless-background-image);
}