/* animation for the "user is typing..." box to float up */
@keyframes textArea-typing {
	from {
		transform: translateY(52px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}



/* Changes to main chat window + channel, server, & member list */

/* Settings update notice */
#app-mount [class*="container-"]>[class*="base-"]::before {
  display: var(--pointless-settings-ver-2, unset);
  content: "[Pointless]: Your settings file is outdated. Please see the readme for more info.";
  color: #fff;
  font-size: 14px;
  line-height: 36px;
  font-weight: 500;
  text-align: center;
  z-index: 1;
  background-color: var(--status-danger-background);
  margin-bottom: 4px;
  border-radius: 8px;
}
/* Wordmark */
[class*="wordmark-"] {
  &:after {
    content: "Pointless";
    font-size: 15px;
    position: absolute;
    width: 4000px;
    top: 5px;
    padding-left: -3px;
    font-family: 'Discord';
    color: var(--text-muted);
  }
  & > svg {
    width: 0px;
  }
}
/** Add icon to wordmark **/
/*.wordmark-2iDDfm {
  left: 25px;
}
.wordmark-2iDDfm:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 50px;
  bottom: 0;
  right: 0;
  background: url('https://powercord.dev/assets/powercord.1eb41971.svg') center/20px no-repeat;
}*/

/* main app content */
#app-mount [class*="layer-"]>[class*="container-"] {
  &>[class*="guilds-"], &>.BF-folderSidebar>[class*="guilds-"] {


    &>ul>[class*="scroller-"] {
      /* remove dividers between home & guilds, and between folders in Better Folders popout */
      &>[class*="listItem-"]:not(:nth-last-child(2)) {
        display: none;
      }

      /* Pin home icon */
      &>[class*="tutorialContainer-"]:first-child, &>.expanded>[class*="listItem-"] { /* Home button */
        position: sticky;
        top: -4px;
        z-index: 1;
        background: linear-gradient(var(--background-tertiary) 88%, transparent 100%);
        padding-top: 4px;
        padding-bottom: 2px;
      }

      /* Make space for settings icon */
      &>[class*="listItem-"]:nth-last-child(2) {
        padding-bottom: 56px;
      }
    }
  }

  &>[class*="base-"] {
    /* Detached notices */
    &>[class*="notice-"] {
      margin-bottom: 4px;
      border-radius: 8px;
    }

    &>[class*="content-"] {

      /* ----- HEADER & BORDERS ----- */
      /* Remove header shadows & recolor*/
      &>[class*="sidebar-"]>nav :is(header, [class*="searchBar-"]) {
        background-color: var(--background-secondary-alt);
        box-shadow: none;
      }
      /* Select whatever window is the main content */
      &>:nth-child(2) {
        &>section {
          background-color: var(--background-primary-alt);
          &>[class*="children-"]::after {
            background: linear-gradient(90deg,rgba(54,57,63,0) 0,var(--background-primary-alt)) !important;
          }
        }
        &>div::before {
          content: none;
        }
      }

      &>[class*="sidebar-"] {
        &>section {
          /* ----- SPLIT UP USER AREA ----- */
          /* Remove user area container */
          &>[class*="container-"] {
            height:0;
            margin-bottom: 0;
          }
          &>[class*="wrapper-"]>[class*="container-"] {border:none}

          /* Settings to bottom left */
          &>[class*="container-"]>[class*="flex-"]> button:last-child {
            background: linear-gradient(transparent 0%, var(--background-tertiary) 10%);
            color: var(--text-normal);
            position: fixed;
            left: 0px;
            bottom: 0px;
            width: 72px;
            height: 64px;
            padding-top: 1px;
            border-radius: 0;
          }
          &>[class*="container-"]>[class*="flex-"]> button:last-child:hover::before {
            content: "";
            position: absolute;
            display: block;
            width: 8px;
            height: 20px;
            left: 0;
            top: 23px;
            border-radius: 0 4px 4px 0;
            margin-left: -4px;
            background-color: var(--header-primary);
          }
          &>[class*="container-"]>[class*="flex-"]> button:last-child::after {
            background-color: var(--background-primary);
            transition: background-color .15s ease-out,color .15s ease-out;
            position: absolute;
            content: "";
            z-index: -1;
            height: 48px;
            width: 48px;
            border-radius: var(--_pointless-radius-server);
          }
          &>[class*="container-"]>[class*="flex-"]> button:last-child:hover {
            color: #fff;
          }
          &>[class*="container-"]>[class*="flex-"]> button:last-child:hover::after {
            background-color: var(--brand-experiment);
          }
          &>[class*="container-"]>[class*="flex-"]> button:last-child:active {
            transform: translateY(1px);
          }

          /* Mute/Deafen in VC area */
          &>[class*="wrapper-"]>[class*="container-"] {padding-right:4px} /* Resize VC area buttons to make room for Krisp */
          &>[class*="wrapper-"] >div> [class*="actionButtons-"] {width:190px}
          &>[class*="wrapper-"] >div> [class*="actionButtons-"]> button {
            min-width: 90px;
            padding: 2px 0;
          }
          &>[class*="wrapper-"] >div> [class*="flex-"]>[class*="flex-"]> button:first-child:not(:only-child){ /* Krisp button to bottom row */
            position: absolute;
            top: 48px;
            left: 204px;
          }
          &>[class*="wrapper-"] >div> [class*="flex-"]>[class*="flex-"]> button:first-child:only-child { /* disconnect */
            left: 54px;
            width: 26px;
          }
          &>[class*="container-"]>[class*="flex-"]>button[aria-checked] { /* Move Mute/Deafen */
            position: relative;
            bottom: 64px;
            left: 146px;
            width: 26px;
          }
          &>[class*="wrapper-"]:empty ~ [class*="container-"]>[class*="flex-"]> button[aria-checked] {display:none} /* but hide them when there's no VC area */

          /* User area pfp aligned with our messages */
          & [class*="avatarWrapper-"] {
            left: 261px;
            bottom: 8px;
            position: absolute;
            z-index: 1;
          }
          & [class*="avatarWrapper-"]:active {
            transform: translateY(1px);
          }
          & [class*="avatar-"][class*="wrapper-"] {
            /*width: 40px;*/
            height: 40px !important;
          }
          /*& [class*="avatar-"][class*="wrapper-"] svg {
            overflow: unset;
          }*/

          /* GameActivityToggle button to status picker */
          &>[class*="container-"]>[class*="avatarWrapper-"][aria-expanded="false"]~[class*="flex-"]> button:not([aria-checked]):first-child {
            display: none;
          }
          &>[class*="container-"]>[class*="flex-"]> button:not([aria-checked]):first-child {
            position: absolute;
            left: 510px;
            bottom: 86px;
            z-index: 10005;
          }
        }

        /* Round split between channel list & chat */
        border-radius: 15px 15px 0 0;
      }

      /* Select whatever window is the main content */
      &>:nth-child(2) {
        /* Round split between channel list & chat */
        border-radius: 15px 15px 0 0;

        margin-left: 5px;
      }

      &>[class*="chat-"]>[class*="content-"] { /* main chat window */
        &>[class*="container-"] aside>[class*="members-"]>[class*="content-"] { /* member list */

          /* Member list backgrounds */
          &>[class*="member-"] [class*="roleColor-"]::after {
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            opacity: 0.125;
            background: currentColor;
            border-radius: var(--_pointless-radius-interface);
          }
          &>[class*="membersGroup-"] + [class*="member-"] {
            margin-top: 5px;
          }
        }

        &>[class*="chatContent-"]>form { /* messages & textarea */
          /* position "user is typing..." box above the text area */
          &>[class*="typing-"] {
            bottom: 52px;
	          animation: textArea-typing .2s ease-out;
          }

          & [class*="channelTextArea-"], &>[class*="wrapper-"], &>div>div>[class*="wrapper-"] {
            /* resize textarea box */
            margin-bottom: 8px; /* move down to swap with the typing indicator */
            margin-left: 56px;  /* make space for the user area pfp */
            width: unset; /* prevent the textarea from going offscreen */

            &>[class*="scrollableContainer-"]>div {
              /* move the (+) file upload & thread button to the right */
              &>[class*="attachWrapper-"] {
                order: 1;
                /*right: 66px;*/
                /*right: 18px;
                position: fixed;*/
                right: -14px;
                position: absolute;
                z-index: 1;
              }

              /* make space for the file upload button (but only when it's there) */
              &>[class*="attachWrapper-"] ~ [class*="buttons-"] {
                right: 32px;
              }

              /* Hide unnecessary buttons */
              &>[class*="buttons-"] {
                &>[class*="buttonContainer-"]>[class*="button-"]:not([class*="emojiButton-"]), /* Sticker & GIF button */
                &>button[class*="button-"]>[class*="button-"] {  /* Nitro Gift */
                  display: none;
                }

                /* make space for file upload button before the Accessibility Send button (not always present) */
                /*&>[class*="separator-"] {
                  right: -32px;
                  position: relative;
                }*/
              }
            }

          }
        }
      }
    }
  }
}

/* Move settings tooltip back on screen */
#app-mount>[class*="layerContainer-"]>:is(
  [style="position: absolute; left: -23px; bottom: 72px;"],
  [style="position: absolute; left: -29px; bottom: 72px;"]
) {
  left: 80px !important;
  bottom: 15px !important;

  &>div {
    transform-origin: 0 50%;
    max-width: 196px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    word-wrap: break-word;

    &>[class*="tooltipPointer-"] {
      position: absolute;
      right: 100%;
      left: unset;
      top: 50%;
      margin-top: -5px;
      border-left-width: 5px;
      transform: rotate(90deg);
    }
  }
}

/* highly improved crash screen */
#app-mount>[class*="errorPage-"] {
  & [class*="text-"] {
    width: unset;

    & h4, & p {
      font-size: 0;
      &::after {
        font-size: 16px;
      }
    }

    & h4::after {
      font-size: 24px;
      content: "OOPSIE WOOPSIE!!";
    }
    & p:first-child::after {
      content: "Uwu We made a fucky wucky!! A wittle fucko boingo!";
    }
    & p:last-child::after {
      content: "The code monkeys at our headquarters are working VEWY HAWD to fix this!";
    }
  }
}

/* chat message username bg
  by: ashtrath. (chloe.#9079) https://discord.com/channels/538759280057122817/755005803303403570/912038821565173781
  edited to use class string selectors
*/
[class*="compact-"] [class*="headerText-"] > span:first-child::before {
  content: '';
  width: calc(100% + 6px);
  height: 100%;
  border-radius: 5px;
  background-color: currentColor;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: -4px;
  z-index: -1;
}
[class*="compact-"] [class*="headerText-"] > span:first-child::after {
  content: ":";
}

[class*="cozy-"] [class*="headerText-"] > span:first-child::before {
  content: '';
  width: calc(100% + 6px);
  height: 100%;
  border-radius: 5px;
  background-color: currentColor;
  opacity: 0.3;
  position: absolute;
  top: 0;
  z-index: -1;
  /* repairs left shift*/
  left: -3px;
}
/*[class*="cozy-"] [class*="headerText-"] > span::after {
  content: ":";
}*/
/* repairs left shift */
[class*="cozy-"] [class*="headerText-"] > span {
  margin-left: 3px;
}

/* voice channel user background */
[class*="containerDefault-"]>[class*="list-"]>[class*="draggable-"],
[class*="containerDefault-"]>[class*="list-"]>[class*="draggable-"]>[class*="userSmall-"],
[class*="containerDefault-"]>[class*="list-"]>[class*="draggable-"] [class*="content-"] {
  height: 36px;
}
[class*="voiceUser-"] [class*="avatar-"] {z-index: 1;}
[class*="voiceUser-"] .rolecolor-colored {overflow: visible;}
[class*="voiceUser-"] .rolecolor-colored::after {
  /* discord randomly flips which one of these works (TODO: figure out why) */
  /*content: '';
  width: calc(100% + 42px);
  height: calc(100% + 14px);
  border-radius: 5px;
  background-color: currentColor;
  opacity: 0.3;
  position: absolute;
  top: -7px;
  left: -42px;
  z-index: -1;*/

  content: '';
  width: calc(100% + 6px);
  height: 100%;
  border-radius: 5px;
  background-color: currentColor;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: -4px;
  z-index: -1;
}
.avatarSpeaking-2pCGrZ {
  box-shadow: inset 0 0 0 2px hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%);
}

/* gives me a tag :)
  og by: dante_nl#1234 https://discord.com/channels/538759280057122817/755005803303403570/929388259598008320
*/
[class*="compact-"][data-author-id="97399302313242624"] [class*="username-"]::before,
[class*="cozyMessage-"][data-author-id="97399302313242624"] [class*="username-"]::after {
  content: "pointless";
  position: relative;
  bottom: 2px;
  background-color: #5865F2;
  border-radius: 3px;
  margin-right: 5px;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  line-height: 1.3;
  margin-left: 4px;
  font-size: 10px;
  font-weight: 500;
}

/* Jump to Message buttons
  by: ThatOtherAndrew#8134 https://canary.discord.com/channels/538759280057122817/755005803303403570/929440925791449148
*/
[title^="https://discord.com/channels/"], [title^="https://ptb.discord.com/channels/"], [title^="https://canary.discord.com/channels/"] {
  line-height: 0;
  font-size: 0;
  text-decoration-color: #fff !important;
}
[title^="https://discord.com/channels/"]::before, [title^="https://ptb.discord.com/channels/"]::before, [title^="https://canary.discord.com/channels/"]::before {
  content: "✉ Jump to Message";
  font-size: 16px;
  user-select: text;
  font-weight: 500;
  transition: background-color 50ms ease-out, color 50ms ease-out;
  cursor: pointer;
  border-radius: 3px;
  padding: 0 2px;
  background: hsla(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%, 0.3);
  color: hsl(236, calc(var(--saturation-factor, 1) * 83.3%), 92.9%);
}
[title^="https://discord.com/channels/"]:hover::before, [title^="https://ptb.discord.com/channels/"]:hover::before, [title^="https://canary.discord.com/channels/"]:hover::before {
  background-color: hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%);
  color: #fff;
}

/* colored window buttons
  by: ِJJ#0001 https://canary.discord.com/channels/538759280057122817/755005803303403570/929921672482529310
*/
[class*="winButton-"]:nth-child(3):hover {background-color: var(--brand-experiment) ;}
[class*="winButton-"]:nth-child(4):hover {background-color: orange ;}

/* Game activity as guild list item */
[class*="activityPanel-"] {
  border: unset;
  padding: unset;

  & [class*="gameWrapper-"] {
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(transparent 0%, var(--background-tertiary) 10%);
    color: var(--text-normal);
    position: fixed;
    left: 0px;
    bottom: 55px;
    width: 72px;
    height: 64px;
    padding-top: 1px;
    border-radius: 0;
  }
  & [class*="gameIcon-"] {
    width: 48px;
    height: 48px;
    border-radius: var(--_pointless-radius-server);
  }
  &:active [class*="gameIcon-"] {
    transform: translateY(1px);
  }
  /* game title as tooltip */
  & [class*="info-"] {
    display: none;
    position: fixed;
    left: 72px;
    bottom: 70px;

    border-radius: 5px;
    background-color: var(--background-floating);
    box-shadow: var(--elevation-high);
    color: var(--text-normal);

    overflow: visible;
    &::before {
      content: "";
      position: absolute;
      right: 100%;
      top: calc(50% - 5px);
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-right-color: var(--background-floating);
    }

    & [class*="title-"] {
      max-width: 196px;
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
      word-wrap: break-word;

      padding: 8px 12px;
      overflow: hidden;
    }
  }
  & [class*="gameWrapper-"]:hover [class*="info-"] {
    display: unset;
  }

  /* stream button as exponent, can click anywhere */
  & [class*="actions-"] {
    position: fixed;
    left: 0px;
    bottom: 55px;
    width: 72px;
    height: 64px;
    margin-left: 0px;
    padding-top: 1px;
    & button {
      width: 72px;
      height: 64px;
      align-items: flex-start;
      justify-content: flex-end;

      & [class*="contents-"] {
        background-color: var(--background-tertiary);
        padding: 3px;
        border-radius: 50%;
      }
      & svg {
        width: 16px;
        height: 16px;
        margin: 1px;
      }
    }
    &>button:hover {
      background-color: transparent;
    }
    & button[class*="disabled-"] {
      opacity: unset;
      & svg {
        opacity: .4;
      }
    }
  }
  /* pill */
  & [class*="actions-"] button:hover::before {
    content: "";
    position: absolute;
    display: block;
    width: 8px;
    height: 20px;
    left: 0;
    top: 23px;
    border-radius: 0 4px 4px 0;
    margin-left: -4px;
    background-color: var(--header-primary);
  }
  &:active [class*="actions-"] {
    transform: translateY(1px);
  }
}
/* move stream button tooltip to the left */
#app-mount>[class*="layerContainer-"]>:is(
  [style="position: absolute; left: -58px; bottom: 127px;"],
  [style="position: absolute; left: -59px; bottom: 127px;"]
){
  left: 80px !important;
  bottom: 70px !important;

  &>div {
    transform-origin: 0 50%;
    max-width: unset;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    word-wrap: break-word;

    &>[class*="tooltipPointer-"] {
      position: absolute;
      right: 100%;
      left: unset;
      top: 50%;
      margin-top: -5px;
      border-left-width: 5px;
      transform: rotate(90deg);
    }
  }
}
/* better 'danger' buttons */
button[class*="lookOutlined"][class*="colorRed"]:hover {
  background-color: var(--background-modifier-hover);
  color: #fff;
}

/* Resizable thread side (li'l buggy) */
:root {
  --sidebar-width: 240px; /* change if your theme resizes the sidebar */
}
.chat-3bRxxu.threadSidebarOpen-vdkwIh {
  resize: horizontal;
  min-width: 400px;
  max-width: calc(100vw - var(--sidebar-width) - 72px - 400px);
}
.chat-3bRxxu:not(.threadSidebarOpen-vdkwIh) {
  width: unset !important;
  flex: 1 1 auto;
}
.threadSidebar-1o3BTy {
  width: unset;
  flex: 1 1 auto;
}

/* ----- CHANNEL LIST ----- */
.iconVisibility-sTNpHs.modeSelected-346R90 .iconContainer-1BBaeJ svg, .iconVisibility-sTNpHs.modeConnected-3IsKId .iconContainer-1BBaeJ svg{
  color: var(--text-normal)
}
.spine--Wla_O { /* thread 'icon' in channel list */
  color: var(--text-muted)
}


/* User area "popout" (status picker, but now also shows name [& background?]) */
/*#status-picker {
  position: fixed;
  bottom: 8px;
  left: 77px;
  width: 230px;
  height: 225px;
  background: var(--background-tertiary);
  border-radius: 5px;
  z-index: -1;
}
#status-picker [class*="item-"] svg{
  width: 16px;
  height: 16px;
}
#status-picker [class*="scrollerBase-"] {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 40px 40px;
  margin: auto 4px 4px 4px;
}
#status-picker [class*="separator-"] {
  display: none;
}
#status-picker [class*="item-"] {
  height: 32px;
}*/

/* usernametag to status picker */
[class*="container-"] [class*="avatarWrapper-"][aria-expanded="false"] ~ [class*="nameTag-"] {
  display: none;
}
[class*="container-"] [class*="avatarWrapper-"][aria-expanded="true"] ~ [class*="nameTag-"] {
  display: unset;
  position: absolute;
  left: 160px;
  bottom: 16px;
  z-index: 10005;
  /*
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 115px;
    left: 50px;
    width: 145px;
    z-index: 10005;
    margin: 0;
    align-items: center;*/
}

/* hide unhovered status names, descriptions & status names for statuses with descriptions */
/*[class*="menu-"]#status-picker [class*="item-"]:not([class*="focused-"]) [class*="status-"]:last-child, [class*="menu-"]#status-picker [class*="item-"] [class*="status-"]:not(:last-child), [class*="menu-"]#status-picker [class*="item-"]:not([class*="focused-"]) [class*="description-"] {
  display: none;
}*/

/* Show status names/descriptions when hovered */
/*[class*="menu-"]#status-picker [class*="item-"][class*="focused-"] [class*="status-"]:last-child, [class*="menu-"]#status-picker [class*="item-"][class*="focused-"] [class*="description-"] {
  display: block;
  position: absolute;
  bottom: 30px;
  width: 100%;
  right: 0;
  text-align: center;
}*/
:root [class*="panels-"] {
  z-index: unset;
}

/* ----- OTHER ----- */

/* Blur when offline */
#app-mount>[class*="app-"]>[class*="container-"] {
  background:rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

/* Hide cursor in fullscreen video when: */
[class*="wrapperControlsHidden-"] {
  cursor: none;
}

/* Floating Mark As Read/Jump To Present Pillbars */
[class*="chatContent-"]>[class*="messagesWrapper-"]>[class*="newMessagesBar-"] {
  top: 8px;
  border-radius: var(--_pointless-radius-interface);
}
[class*="chatContent-"]>[class*="messagesWrapper-"]>[class*="jumpToPresentBar-"] {
  bottom: 32px;
  padding-bottom: 0;
  border-radius: var(--_pointless-radius-interface);
}


/* link target tooltip
.grid-1nZz7S {
    overflow: visible !important;
}
.markup-2BOw-j a {
    position: relative;
}
.markup-2BOw-j a::before {
    content: attr(href);
    position: absolute;
    bottom: calc(100% + 5px);
    left: 50%;
    width: max-content;
    max-width: 200px;
    margin: auto;

    background-color: black;
    color: #dcddde !important;
    font-weight: 500 !important;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    white-space: normal;
    overflow-wrap: break-word;
    padding: 8px 12px;
    border-radius: 5px;
    z-index: 100;
    transform: scale(.98) translateY(2px) translateX(-50%);
    filter: opacity(0);
    pointer-events: none;
    box-shadow: var(--elevation-high);
    transition: transform .1s, filter .1s;
}
.markup-2BOw-j a:hover:before {
    transform: translateX(-50%);
    filter: opacity(1);
}*/