/* animation for the "user is typing..." box to float up */
@keyframes textArea-typing {
  from {
    transform: translateY(52px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


/* Changes to main chat window + channel, server, & member list */

/* Wordmark */
[class*="wordmark-"] {
  &:after {
    content: "Pointless";
    font-size: 15px;
    position: absolute;
    left: 22px;
    font-family: 'Discord';
    color: var(--text-muted);
  }
  &>svg {
    width: 0px;
  }
  &:before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    background: url('https://replugged.dev/assets/replugged-b625c392.png') center/16px no-repeat;
    top: 3px;
    left: 3;
  }
}

/* Guild navbar */
[class*="guilds-"] [class*="scroller-"] {
  /* remove dividers between home & guilds */
  &>[class*="listItem-"]:nth-child(2) {
    display: none;
  }

  /* Pin home icon */
  &>[class*="tutorialContainer-"]:first-child { /* Home button */
    position: fixed;
    top: 18px;
    z-index: 1;
    background: linear-gradient(var(--background-tertiary) 88%, transparent 100%);
    padding-top: 4px;
    padding-bottom: 2px;
  }
  padding-top: 56px; /* padding on the scroller bc the home icon isn't in the document flow anymore*/

  /* Make space for settings icon */
  &>[class*="listItem-"]:nth-last-child(2) {
    padding-bottom: 112px;
  }
}

/* Detached notices */
[class*="base-"]>[class*="notice-"] {
  margin-bottom: 5px;
  border-radius: 8px;
}

/* Remove header shadows, recolor, & Round split between channel list & chat */
[class*="base-"]>[class*="content-"] {
  /* channel/DMs list */
  &>[class*="sidebar-"] {
    border-radius: 15px 15px 0 0;
    margin-right: 8px;

    &>nav>[class*="searchBar-"],
    &>nav>div:not([class*="hasBanner-"])>header {
      background-color: var(--background-secondary-alt);
      box-shadow: none;
    }
    &>nav>div>[class*="animatedContainer-"] {
      box-shadow: none;
    }
  }
  /* Whatever window is the main content (also gets thread sidebar) */
  &>:not([class*="sidebar-"], [class*="resizeHandle-"], .erd_scroll_detection_container) {
    border-radius: 15px 15px 0 0;

    &>section { /* titlebar color & title fadeout */
      background-color: var(--background-primary-alt);
      & [class*="children-"]::after {
        background: linear-gradient(90deg,rgba(54, 57, 63, 0) 0,var(--background-primary-alt)) !important;
      }
    }
    &>div::before, &>[class*="scroller-"]>div::before { /* remove content top shadow */
      content: unset;
    }
  }
  &>[class*="resizeHandle-"] {
    background-color: unset;
  }
}

/* member list */
aside>[class*="members-"]>[class*="content-"] {
  /* Member list backgrounds */
  &>[class*="member-"] {
    margin-top: 4px;

    & [class*="username-"]::after {
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: 0.125;
      background: currentColor;
      border-radius: var(--_pointless-radius-interface);
    }
  }
  &>[class*="membersGroup-"] + [class*="member-"] {
    margin-top: 5px;
  }
}

/* messages textarea */
[class*="chatContent-"]>form {
  /* position "user is typing..." box above the text area */
  &>[class*="typing-"] {
    bottom: 52px;
    animation: textArea-typing .2s ease-out;
  }

  & [class*="channelTextArea-"], &>div>[class*="wrapper-"], &>div>div>[class*="wrapper-"] {
    /* resize textarea box */
    margin-bottom: 8px; /* move down to swap with the typing indicator */
    margin-left: 56px;  /* make space for the user area pfp */
    width: unset; /* prevent the textarea from going offscreen */

    &[class*="channelTextAreaDisabled-"] {
      display: none;
    }

    &>[class*="scrollableContainer-"]>div {
      /* move the (+) file upload & thread button to the right */
      &>[class*="attachWrapper-"] {
        order: 1;
        right: -14px;
        position: absolute;
        z-index: 1;
      }

      /* make space for the file upload button (but only when it's there) */
      &>[class*="attachWrapper-"] ~ [class*="buttons-"] {
        right: 32px;
      }

      /* Hide unnecessary buttons */
      &>[class*="buttons-"] {
        &>[class*="buttonContainer-"]>[class*="button-"]:not([class*="emojiButton-"]), /* Sticker & GIF button */
        &>button[class*="button-"]>[class*="button-"] {  /* Nitro Gift */
          display: none;
        }
      }
    }

  }
}

/* Move settings tooltip back on screen */
#app-mount [class*="layerContainer-"]>:is(
  [style="position: absolute; bottom: 72px; left: -23px;"],
  [style="position: absolute; bottom: 72px; left: -29px;"]
) {
  left: 80px !important;
  bottom: 15px !important;

  &>div {
    transform-origin: 0 50%;
    max-width: 196px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    word-wrap: break-word;

    &>[class*="tooltipPointer-"] {
      position: absolute;
      right: 100%;
      left: unset !important;
      top: 50%;
      margin-top: -5px;
      border-left-width: 5px;
      transform: rotate(90deg);
    }
  }
}

/* highly improved crash screen */
#app-mount [class*="errorPage-"] {
  & [class*="text-"] {
    width: unset;

    & h4, & p {
      font-size: 0;
      &::after {
        font-size: 16px;
      }
    }

    & h4::after {
      font-size: 24px;
      content: "OOPSIE WOOPSIE!!";
    }
    & p:first-child::after {
      content: "Uwu We made a fucky wucky!! A wittle fucko boingo!";
    }
    & p:last-child::after {
      content: "The code monkeys at our headquarters are working VEWY HAWD to fix this!";
    }
  }
}

/* chat message username bg
  by: ashtrath. (chloe.#9079) https://discord.com/channels/538759280057122817/755005803303403570/912038821565173781
  edited to use class string selectors
*/
[class*="compact-"] [class*="headerText-"] > span:first-child::before {
  content: '';
  width: calc(100% + 6px);
  height: 100%;
  border-radius: 5px;
  background-color: currentColor;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: -4px;
  z-index: -1;
}
[class*="compact-"] [class*="headerText-"] > span:first-child::after {
  content: ":";
}

[class*="cozy-"] [class*="headerText-"] > span:first-child::before {
  content: '';
  width: calc(100% + 6px);
  height: 100%;
  border-radius: 5px;
  background-color: currentColor;
  opacity: 0.3;
  position: absolute;
  top: 0;
  z-index: -1;
  /* repairs left shift*/
  left: -3px;
}
/* repairs left shift */
[class*="cozy-"] [class*="headerText-"] > span:first-child {
  margin-left: 3px;
}

/* gives me a tag :)
  og by: dante_nl#1234 https://discord.com/channels/538759280057122817/755005803303403570/929388259598008320
*/
[class*="compact-"][data-author-id="97399302313242624"] h3 [class*="username-"]::before,
[class*="cozyMessage-"][data-author-id="97399302313242624"] h3 [class*="username-"]::after {
  content: "pointless";
  position: relative;
  bottom: 2px;
  line-height: 1.3;
  font-size: 10px;
  font-weight: 500;
  color: #fff;
  background-color: #5865F2;
  border-radius: 3px;
  margin-left: 4px;
  margin-right: -2px;
  padding: 2px 5px;
}

/* voice channel user background */
[class*="containerDefault-"]>[class*="list-"]>[class*="draggable-"] {
  padding: 2px 0;
}
[class*="containerDefault-"]>[class*="list-"]>[class*="draggable-"],
[class*="containerDefault-"]>[class*="list-"]>[class*="draggable-"]>[class*="userSmall-"],
[class*="containerDefault-"]>[class*="list-"]>[class*="draggable-"] [class*="content-"] {
  height: 34px;
}
[class*="voiceUser-"] [class*="avatar-"] {z-index: 1;}
[class*="voiceUser-"] .rolecolor-colored {overflow: visible;}
[class*="voiceUser-"] .rolecolor-colored::after {
  /* discord randomly flips which one of these works (TODO: figure out why) */
  /*content: '';
  width: calc(100% + 42px);
  height: calc(100% + 14px);
  border-radius: 5px;
  background-color: currentColor;
  opacity: 0.3;
  position: absolute;
  top: -7px;
  left: -42px;
  z-index: -1;*/

  content: '';
  width: calc(100% + 0px);
  height: calc(100% - 0px);
  border-radius: 5px;
  background-color: currentColor;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
[class*="voiceUser-"] [class*="avatarSpeaking-"] {
  box-shadow: inset 0 0 0 2px hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%);
}

/* colored window buttons */
[class*="winButton-"] {
  color: var(--color);
  &:hover {
    color: var(--white-500);
    background-color: var(--color);
  }
}
[class*="winButton-"]:nth-child(2) { --color: var(--status-danger); }
[class*="winButton-"]:nth-child(3) { --color: var(--brand-experiment); }
[class*="winButton-"]:nth-child(4) { --color: orange; }

/* Game activity as guild list item */
[class*="activityPanel-"] {
  border: unset;
  padding: unset;

  /* restyle game icon to match guild icons */
  & [class*="gameWrapper-"] {
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(transparent 0%, var(--background-tertiary) 10%);
    color: var(--text-normal);
    position: fixed;
    left: 0px;
    bottom: 55px;
    width: 72px;
    height: 64px;
    padding-top: 1px;
    border-radius: 0;
  }
  & [class*="gameIcon-"] {
    width: 48px;
    height: 48px;
    border-radius: var(--_pointless-radius-server);
  }
  &:active [class*="gameIcon-"] {
    transform: translateY(1px);
  }
  /* game title as tooltip */
  & [class*="info-"] {
    display: none;
    position: fixed;
    left: 72px;
    bottom: 70px;

    border-radius: 5px;
    background-color: var(--background-floating);
    box-shadow: var(--elevation-high);
    color: var(--text-normal);

    overflow: visible;
    &::before {
      content: "";
      position: absolute;
      right: 100%;
      top: calc(50% - 5px);
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-right-color: var(--background-floating);
    }

    & [class*="title-"] {
      max-width: 196px;
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
      word-wrap: break-word;

      padding: 8px 12px;
      overflow: hidden;
    }
  }
  & [class*="gameWrapper-"]:hover [class*="info-"] {
    display: unset;
  }

  /* stream button as exponent, can click anywhere */
  & [class*="actions-"] { /* style clickable area */
    position: fixed;
    left: 0px;
    bottom: 55px;
    width: 72px;
    height: 64px;
    margin-left: 0px;
    padding-top: 1px;

    & [class*="button-"] { /* style button container */
      width: 72px;
      height: 64px;
      align-items: flex-start;
      justify-content: flex-end;

      &:hover { /* remove hover highlight of clickable area */
        background-color: transparent !important;
      }
      &[class*="disabled-"] { /* make the icon faded and not the background */
        opacity: unset;
        & svg {
          opacity: .4;
        }
      }

      /* style the icon as an exponent */
      & [class*="contents-"] {
        background-color: var(--background-tertiary);
        padding: 3px;
        border-radius: 50%;
      }
      & svg {
        width: 16px;
        height: 16px;
        margin: 0px;
      }
    }
  }
  /* pill on hover */
  & [class*="actions-"] button:hover::before {
    content: "";
    position: absolute;
    display: block;
    width: 8px;
    height: 20px;
    left: 0;
    top: 23px;
    border-radius: 0 4px 4px 0;
    margin-left: -4px;
    background-color: var(--header-primary);
  }
  &:active [class*="actions-"] {
    transform: translateY(1px);
  }
}
/* move stream button tooltip to the left */
#app-mount [class*="layerContainer-"]>:is(
  [style="position: absolute; bottom: 127px; left: -58px;"], /* Stream <game> */
  [style="position: absolute; bottom: 127px; left: -59px;"]  /* navigate to a server to start streaming */
){
  left: 80px !important;
  bottom: 70px !important;

  &>div {
    transform-origin: 0 50%;
    max-width: unset;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    word-wrap: break-word;

    &>[class*="tooltipPointer-"] {
      position: absolute;
      right: 100%;
      left: unset !important;
      top: 50%;
      margin-top: -5px;
      border-left-width: 5px;
      transform: rotate(90deg);
    }
  }
}

/* better 'danger' buttons */
button[class*="lookOutlined"][class*="colorRed"]:hover {
  background-color: var(--background-modifier-hover);
  color: #fff;
}

/* server list icon badges */
[class*="guilds-"] [class*="listItem-"] {
  [class*="upperBadge-"] {
    transform: translate(8px, -8px) !important;
  }

  [class*="iconBadge-"] {
    padding: 3px;
    border-radius: 50%;
    width: 22px;
    height: 22px;

    & [class*="icon-"] {
      width: 16px;
      height: 16px;
      margin: 0px;
      padding: 0;
    }
  }
}
.theme-dark [class*="guilds-"] [class*="listItem-"] [class*="iconBadge-"] {
  background-color: var(--background-tertiary);
}



/* Blur when offline */
#app-mount [class*="app-"]>[class*="container-"] {
  background:rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

/* Hide cursor in fullscreen video when: */
[class*="wrapperControlsHidden-"] {
  cursor: none;
}

/* Floating Mark As Read/Jump To Present Pillbars */
[class*="chatContent-"]>[class*="messagesWrapper-"]>[class*="newMessagesBar-"] {
  top: 8px;
  border-radius: var(--_pointless-radius-interface);
}
[class*="chatContent-"]>[class*="messagesWrapper-"]>[class*="jumpToPresentBar-"] {
  bottom: 32px;
  padding-bottom: 0;
  border-radius: var(--_pointless-radius-interface);
}

/* General modal styles */
/* no box shadows! */
[class*="modalRoot-"][class*="rootWithShadow-"],
[class*="modalRoot-"] [class*="footerSeparator-"] {
  box-shadow: unset;
}
[class*="modal-"] [class*="navRow-"] {
  background-color: var(--modal-footer-background);
}

/* emoji picker colors */
#emoji-picker-tab-panel {
  &>[class*="header-"] {
    box-shadow: unset;
    background-color: var(--background-secondary-alt);
  }
  &>[class*="emojiPicker-"] {
    border-top-right-radius: unset;
  }
}

/* link target tooltip
.grid-1nZz7S {
    overflow: visible !important;
}
.markup-2BOw-j a {
    position: relative;
}
.markup-2BOw-j a::before {
    content: attr(href);
    position: absolute;
    bottom: calc(100% + 5px);
    left: 50%;
    width: max-content;
    max-width: 200px;
    margin: auto;

    background-color: black;
    color: #dcddde !important;
    font-weight: 500 !important;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    white-space: normal;
    overflow-wrap: break-word;
    padding: 8px 12px;
    border-radius: 5px;
    z-index: 100;
    transform: scale(.98) translateY(2px) translateX(-50%);
    filter: opacity(0);
    pointer-events: none;
    box-shadow: var(--elevation-high);
    transition: transform .1s, filter .1s;
}
.markup-2BOw-j a:hover:before {
    transform: translateX(-50%);
    filter: opacity(1);
}*/