
/* ----- MESSAGE BUBBLES ----- */
/*message shape*/
.cozy-3raOZG.wrapper-2a6GCs{padding-top:1px; padding-bottom:1px;}
.cozyMessage-3V1Y8y:not(.groupStart-23k01U)>.contents-2mQqc9>.markup-2BOw-j:not(:empty){border-radius:var(--chatbubble-radius);}
div:not(.disableInteraction-286MMw) .contents-2mQqc9>.markup-2BOw-j:not(:empty){
display:inline-block;
/*max-width:650px;*/
margin:0;
padding:8px 12px 7px;
border-radius:var(--chatbubble-radius);
position:relative;
overflow:visible;
}
/*bubble color*/
[data-is-author-self=false] .markup-2BOw-j:not(:empty):not(.repliedTextContent-1R3vnK){
background-image: var(--chatbubble-other);
background-size:cover;
background-position:center;
background-attachment:fixed;
}
[data-is-author-self=true]>.contents-2mQqc9>.markup-2BOw-j:not(:empty){
background-image: var(--chatbubble-self);
background-size:cover;
background-position:center;
background-attachment:fixed;
}
/*text style*/
.container-3-pyIM *,.contents-2mQqc9>.markup-2BOw-j,.contents-2mQqc9>.markup-2BOw-j>*:not(.anchorUnderlineOnHover-2ESHQB){
color:var(--chatbubble-self-text);
font-size:15px;
line-height:20px;
}
/*.theme-light [data-is-author-self=false] .container-3-pyIM *,.theme-light [data-is-author-self=false] .markup-2BOw-j,.theme-light [data-is-author-self=false] .markup-2BOw-j>*{
color:var(--chatbubble-other-text);
}*/

/*last rounded corner*//*
.groupStart-23k01U:before,.hasContent-1cNJDh:before,.cozyMessage-3V1Y8y+.scrollerSpacer-avRLaA:before{
content:"";
display:block;
width:20px;
height:20px;
background-color:transparent;
position:absolute;
border-bottom-left-radius:20px;
border:5px solid var(--background-primary);
border-right:0;
border-top:0;
}
.groupStart-23k01U:before{transform:translate(-20%,-156%);}
.hasContent-1cNJDh:before{left:51px;transform:translateY(-132%);}
.cozyMessage-3V1Y8y+.scrollerSpacer-avRLaA:before{left:67px; transform:translateY(-84%);}
.mentioned-xhSam7:before{left:unset; top:unset; bottom:unset;}
.mentioned-xhSam7+*:before,.isUnread-3Ef-o9.hasContent-1cNJDh+.groupStart-23k01U:before,.hasContent-1cNJDh+.groupStart-23k01U:before,.backgroundFlash-24qWLN:before{visibility:hidden;}
*/

/* Fix thread icon */
.iconContainer-3GkGRf {left:-84px}
.cozy-3raOZG.hasThread-2k82W0:after{top:2.25rem!important}