/* Message context menu
 * Original colors by mr_miner#6969, from Powercord#css-snippets: 870552834410680370
 * Expanded by Penguin_Spy to cover all message context items */
#message-add-reaction {
  color: goldenrod;
}
[class*="focused-"]:is(#message-add-reaction) {
  background-color: goldenrod;
  color: #fff;
}
#message-reactions {
  color: burlywood;
}
[class*="focused-"]:is(#message-reactions) {
  background-color: burlywood;
  color: #fff;
}
#message-edit, #message-actions-edit {
  color: steelblue;
}
[class*="focused-"]:is(#message-edit,  #message-actions-edit) {
  background-color: steelblue;
  color: #fff;
}
#message-pin, #message-actions-pin, #message-unpin {
  color: skyblue;
}
[class*="focused-"]:is(#message-actions-pin, #message-pin, #message-unpin) {
  background-color: #67a7c0;
  color: #fff;
}
#message-actions-reply, #message-reply {
  color: khaki;
}
[class*="focused-"]:is(#message-actions-reply, #message-reply) {
  background-color: #c5bb5d;
  color: #fff;
}
#message-actions-thread, #message-thread {
  color: #69c069;
}
[class*="focused-"]:is(#message-actions-thread, #message-thread) {
  background-color: #5dbd5d;
  color: #fff;
}
#message-apps {
  color: aquamarine;
}
[class*="focused-"]:is(#message-apps) {
  background-color: #65d4af;
  color: #fff;
}
#message-actions-mark-unread, #message-mark-unread {
  color: plum;
}
[class*="focused-"]:is(#message-actions-mark-unread, #message-mark-unread) {
  background-color: #c27ec2;
  color: #fff;
}
#message-actions-copy-link, #message-copy-link, #message-copy-message-link {
  color: lightseagreen;
}
[class*="focused-"]:is(#message-actions-copy-link, #message-copy-link, #message-copy-message-link) {
  background-color: #199c96;
  color: #fff;
}
#message-actions-tts, #message-tts{
  color: var(--brand-experiment);
}
[class*="focused-"]:is(#message-actions-tts, #message-tts) {
  background-color: var(--brand-experiment);
  color: #fff;
}
#message-remove-reactions {
  color: tomato;
}
[class*="focused-"]:is(#message-remove-reactions) {
  background-color: tomato;
  color: #fff;
}
#message-copy-image {
  color: mediumpurple;
}
[class*="focused-"]:is(#message-copy-image) {
  background-color: indigo;
  color: #fff;
}
#message-save-image {
  color: mediumorchid;
}
[class*="focused-"]:is(#message-save-image) {
  background-color: mediumorchid;
  color: #fff;
}
#message-copy-native-link {
  color: seagreen;
}
[class*="focused-"]:is(#message-copy-native-link) {
  background-color: seagreen;
  color: #fff;
}
#message-open-native-link {
  color: darkseagreen;
}
[class*="focused-"]:is(#message-open-native-link) {
  background-color: darkseagreen;
  color: #fff;
}
/* Plugins */
#message-notebook {
  color: #d6b498;
}
[class*="focused-"]:is(#message-notebook) {
  background-color: #c2a085;
  color: #fff;
}
#message-translate-message {
  color: #1e6fe0;
}
[class*="focused-"]:is(#message-translate-message) {
  background-color: #1967d2;
  color: #fff;
}


/* Guild Context Menu, Guild Header Popout Menu */
/**/
#guild-header-popout-premium-subscribe {
  color: rgb(255, 115, 250);
}
[class*="focused-"]:is(#guild-header-popout-premium-subscribe) {
  background-color: rgb(255, 115, 250);
  color: #fff;
}
#guild-context-mark-guild-read {
  color: plum;
}
[class*="focused-"]:is(#guild-context-mark-guild-read) {
  background-color: #c27ec2;
  color: #fff;
}
#guild-context-invite-people, #guild-header-popout-invite-people {
  color: var(--brand-experiment-360);
}
[class*="focused-"]:is(#guild-context-invite-people, #guild-header-popout-invite-people) {
  background: var(--brand-experiment-360);
  color: #fff
}
#guild-context-mute-guild, #guild-context-unmute-guild, [id^="guild-context-mute-guild--"] {
  color: #E91E63;
}
[class*="focused-"]:is(#guild-context-mute-guild, #guild-context-unmute-guild, [id^="guild-context-mute-guild--"]) {
  background: #E91E63;
  color: #fff;
}
#guild-context-guild-settings, #guild-header-popout-settings {
  color: #668594;
}
[class*="focused-"]:is(#guild-context-guild-settings, #guild-header-popout-settings) {
  background: #546E7A;
  color: #fff;
}
#guild-header-popout-insights {
  color: #1ABC9C;
}
[class*="focused-"]:is(#guild-header-popout-insights) {
  background: #1ABC9C;
  color: #fff;
}
#guild-context-notifications, #guild-header-popout-notifications {
  color: burlywood;
}
[class*="focused-"]:is(#guild-context-notifications, #guild-header-popout-notifications) {
  background-color: burlywood;
  color: #fff;
}
#guild-context-privacy, #guild-header-popout-privacy {
  color: skyblue;
}
[class*="focused-"]:is(#guild-context-privacy, #guild-header-popout-privacy) {
  background-color: #67a7c0;
  color: #fff;
}
#guild-context-change-nickname, #guild-header-popout-change-nickname {
  color: steelblue;
}
[class*="focused-"]:is(#guild-context-change-nickname, #guild-header-popout-change-nickname) {
  background-color: steelblue;
  color: #fff;
}
#guild-context-create-channel, #guild-header-popout-create-channel {
  color: #69c069;
}
[class*="focused-"]:is(#guild-context-create-channel, #guild-header-popout-create-channel) {
  background-color: #5dbd5d;
  color: #fff;
}
#guild-context-create-category, #guild-header-popout-create-category {
  color: seagreen;
}
[class*="focused-"]:is(#guild-context-create-category, #guild-header-popout-create-category) {
  background-color: seagreen;
  color: #fff;
}
#guild-context-create-event, #guild-header-popout-create-event {
  color: darkseagreen;
}
[class*="focused-"]:is(#guild-context-create-event, #guild-header-popout-create-event) {
  background-color: darkseagreen;
  color: #fff;
}

#guild-context-leave-guild, #guild-header-popout-leave {
  color: #ed4245;
}
[class*="focused-"]:is(#guild-context-leave-guild, #guild-header-popout-leave) {
  background: #ed4245;
  color: #fff;
}
/* Folders */
#guild-context-mark-folder-read {
  color: plum;
}
[class*="focused-"]:is(#guild-context-mark-folder-read) {
  background-color: #c27ec2;
  color: #fff;
}
#guild-context-folder-settings {
  color: #668594;
}
[class*="focused-"]:is(#guild-context-folder-settings) {
  background: #546E7A;
  color: #fff;
}
#guild-context-folder-collapse {
  color: grey;
}
/* New Server Context Menu - I'll bet you never knew this menu existed, I sure didn't */
#guild-context-join {
  color: grey;
}
#guild-context-create {
  color: grey;
}
/* Plugins */
#guild-context-guild-profile, #guild-header-popout-guild-profile {
  color: goldenrod;
}
[class*="focused-"]:is(#guild-context-guild-profile, #guild-header-popout-guild-profile) {
  background-color: goldenrod;
  color: #fff;
}


/* Channel Context Menu */
#channel-context-mark-channel-read {
  color: plum;
}
[class*="focused-"]:is(#channel-context-mark-channel-read) {
  background-color: #c27ec2;
  color: #fff;
}
#channel-context-mute-channel, #channel-context-unmute-channel, [id^="channel-context-mute-channel--"] {
  color: #E91E63;
}
[class*="focused-"]:is(#channel-context-mute-channel, #channel-context-unmute-channel, [id^="channel-context-mute-channel--"]) {
  background: #E91E63;
  color: #fff;
}
#channel-context-channel-notifications {
  color: grey;
}
#channel-context-edit-channel {
  color: grey;
}
#channel-context-invite-people {
  color: grey;
}
#channel-context-clone-channel {
  color: grey;
}
#channel-context-create-text-channel {
  color: grey;
}
#channel-context-create-voice-channel {
  color: grey;
}
#channel-context-delete-channel {
  color: grey;
}
#channel-context-copy-channel-topic {
  color: grey;
}
/* Threads */
#thread-context-join-thread {
  color: grey;
}
#thread-context-leave-thread {
  color: grey;
}
#thread-context-mark-channel-read {
  color: grey;
}
#thread-context-mute-channel {
  color: grey;
}
#thread-context-thread-notifications {
  color: grey;
}
#thread-context-search {
  color: grey;
}
#thread-context-pins {
  color: grey;
}
#thread-context-open {
  color: grey;
}
/* Category */
#channel-context-collapse-all-categories {
  color: grey;
}


/* Other */

#message-devmode-copy-id, #message-actions-copy-id,
#guild-context-devmode-copy-id,
#channel-context-devmode-copy-id,
#thread-context-devmode-copy-id,
#user-context-devmode-copy-id,
#dev-context-devmode-copy-id,
#guild-settings-role-context-devmode-copy-id,
#copy-id-devmode-copy-id {
  color: lightsalmon;
}
[class*="focused-"]:is(
  #message-devmode-copy-id, #message-actions-copy-id,
  #guild-context-devmode-copy-id,
  #channel-context-devmode-copy-id,
  #thread-context-devmode-copy-id,
  #user-context-devmode-copy-id,
  #dev-context-devmode-copy-id,
  #guild-settings-role-context-devmode-copy-id,
  #copy-id-devmode-copy-id
) {
  background-color: lightsalmon;
  color: #fff;
}



/* Strikethrough disabled items because just .5 opacity doesn't really work when every item is a different color/saturation */
[role="menuitem"][class*="disabled-"]>[class*="label-"] {
  text-decoration: line-through;
}

/* Colored channel icons */
/**
 * Snippet from #css-snippets applied the Jun 21, 2021 at 1:09:05 PM
 * Created by Lorem#3481 (597072695875600385)
 * Snippet ID: 855613959738228756
 */
[d="M19.8914 3.80204L22.2438 8.55654C22.5726 9.22119 22.0891 9.99999 21.3475 10L16.6179 10C15.8745 10 15.391 9.21769 15.7235 8.55279L18.1007 3.79829C18.4701 3.05951 19.5251 3.06172 19.8914 3.80204ZM18.4998 5H19.4999V7.5H18.4999L18.4998 5ZM18.4998 8.49887C18.4998 8.77589 18.7238 9 18.9998 9C19.2759 9 19.4999 8.77589 19.4999 8.49887C19.4999 8.22224 19.2759 7.99773 18.9998 7.99773C18.7238 7.99773 18.4998 8.22224 18.4998 8.49887Z"]{
  fill:hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);
}
/** 855613959738228756 */

/**
 * Snippet from #css-snippets applied the Jun 21, 2021 at 1:09:12 PM
 * Created by Art#6021 (631028298675388418)
 * Snippet ID: 855674162386567178
 */
[d="M21.025 5V4C21.025 2.88 20.05 2 19 2C17.95 2 17 2.88 17 4V5C16.4477 5 16 5.44772 16 6V9C16 9.55228 16.4477 10 17 10H19H21C21.5523 10 22 9.55228 22 9V5.975C22 5.43652 21.5635 5 21.025 5ZM20 5H18V4C18 3.42857 18.4667 3 19 3C19.5333 3 20 3.42857 20 4V5Z"]{
  fill:hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%);
}
/** 855674162386567178 */

/**
 * Snippet from #css-snippets applied the Jun 21, 2021 at 1:09:21 PM
 * Created by zjtech123#6743 (261236127581601793)
 * Snippet ID: 855929646301970432
 */
[d="M22.545 4.87988V5.87988H23.28C23.4126 5.87988 23.52 5.98733 23.52 6.11988V10.6399C23.52 10.7724 23.4126 10.8799 23.28 10.8799H17.76C17.6275 10.8799 17.52 10.7724 17.52 10.6399V6.11988C17.52 5.98733 17.6275 5.87988 17.76 5.87988H18.52V4.87988C18.52 3.75988 19.47 2.87988 20.52 2.87988C21.57 2.87988 22.545 3.75988 22.545 4.87988ZM19.52 5.87988H21.52V4.87988C21.52 4.30845 21.0534 3.87988 20.52 3.87988C19.9867 3.87988 19.52 4.30845 19.52 4.87988V5.87988Z"]{
  fill:hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%);
}
/** 855929646301970432 */

/**
 * Snippet from #css-snippets applied the Jun 21, 2021 at 1:09:28 PM
 * Created by zjtech123#6743 (261236127581601793)
 * Snippet ID: 855929936778493952
 */
[d="M22.025 2V3C22.5635 3 23 3.43652 23 3.975V7C23 7.55228 22.5523 8 22 8H18C17.4477 8 17 7.55228 17 7V4C17 3.44772 17.4477 3 18 3V2C18 0.88 18.95 0 20 0C21.05 0 22.025 0.88 22.025 2ZM19 3H21V2C21 1.42857 20.5333 1 20 1C19.4667 1 19 1.42857 19 2V3Z"]{
  fill:hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%);
}
/** 855929936778493952 */