/* Fix rolecoloreverywhere making some role text weirdly thin? */
.rolecolor-mention, .rolecolor-colored, .rolecolor-colored .activity-2Gy-9S {
  filter: none;
}

/* Online Friends Count badge*/
.listItem-GuPuDH .onlineFriends-counter {
  overflow: hidden;
  text-overflow: clip;
  text-align: center;
  direction: rtl;
  white-space: nowrap;
  z-index: 1;
  background: var(--background-tertiary);
  color: var(--text-normal);
  border-radius: 10px;
  position: fixed;
  top: 58px;
  left: 7px;
  width: 1.3em;
  height: 15px;
  padding-top: 1px;
  padding-right: .25em;
  transition: width .15s, left .15s, background-color .15s;
}
.listItem-GuPuDH .onlineFriends-counter:hover {
  width: inherit;
  padding: 1px 0 0;
  left: 2px;
  background: var(--brand-experiment);
}
/* "pin home icon" with above plugin enabled needs different margin
.container-2lgZY8 > .guilds-1SWlCJ .scroller-1Bvpku > [aria-label] { margin-top: 48px;}*/

/*
botTagCozy-1fFsZk botTag-1un5a6 botTagRegular-2HEhHi botTag-2WPJ74 rem-2m9HGf
botTagCozy-1fFsZk botTag-1un5a6 botTagRegular-2HEhHi botTag-2WPJ74 rem-2m9HGf
botTagCozy-1fFsZk botTag-1un5a6 botTagRegular-2HEhHi botTag-2WPJ74 rem-2m9HGf botTag-1un5a6(2nd) botTagCompact-29bCci > botText-1526X_
botTagCozy-1fFsZk botTag-1un5a6 botTagRegular-2HEhHi botTag-2WPJ74 rem-2m9HGf > botText-1526X_

only with webhook tag plugin:
botTagCompact

*/
