/* Fix rolecoloreverywhere making some role text weirdly thin? */
.rolecolor-mention, .rolecolor-colored, .rolecolor-colored .activity-2Gy-9S {
  filter: none;
}

/* Online Friends Count badge*/
[class*="guilds-"]>ul>[class*="scroller-"]>[class*="listItem-"]>.onlineFriends-counter {
  overflow: hidden;
  text-overflow: clip;
  text-align: center;
  direction: rtl;
  white-space: nowrap;
  z-index: 1;
  background: var(--background-secondary);
  color: var(--text-normal);
  border-radius: 10px;
  position: fixed;
  top: 58px;
  left: 7px;
  width: 1.2em;
  height: 15px;
  padding-top: 1px;
  padding-right: .25em;
  transition: width .15s, left .15s, background-color .15s;
}
[class*="guilds-"]>ul>[class*="scroller-"]>[class*="listItem-"]>.onlineFriends-counter:hover {
  width: inherit;
  padding: 1px 0 0;
  left: 0px;
  background: var(--brand-experiment);
}
/* "pin home icon" with above plugin enabled needs different margin
.container-2lgZY8 > .guilds-1SWlCJ .scroller-1Bvpku > [aria-label] { margin-top: 48px;}*/

/*
botTagCozy-1fFsZk botTag-1un5a6 botTagRegular-2HEhHi botTag-2WPJ74 rem-2m9HGf
botTagCozy-1fFsZk botTag-1un5a6 botTagRegular-2HEhHi botTag-2WPJ74 rem-2m9HGf
botTagCozy-1fFsZk botTag-1un5a6 botTagRegular-2HEhHi botTag-2WPJ74 rem-2m9HGf botTag-1un5a6(2nd) botTagCompact-29bCci > botText-1526X_
botTagCozy-1fFsZk botTag-1un5a6 botTagRegular-2HEhHi botTag-2WPJ74 rem-2m9HGf > botText-1526X_

only with webhook tag plugin:
botTagCompact

*/

/* This *insane* selector is to make the hex color preview on hover display overtop the text */
[class*="layerContainer-"]>[class*="layer-"]>[class*="tooltipTop-"][class*="tooltipDisablePointerEvents-"]>[class*="tooltipContent-"]>span[style^="display: inline-block; background-color: rgb("][style$="); width: 15px; height: 15px; margin-right: 0px; border-radius: 3px;"] {
  position: absolute;
  top: 21px;
  left: -20px;
  width: 64px !important;
  height: 24px !important;
}

/* Display crowns for permissions that are granted by being the owner of the server */
[id="user-context-permissions"]~div>div>div>[class*="scroller-"]>div[id*="user-context-permissions--"]::after {
  content: "";
  width: 20px;
  height: 20px;
  background: var(--text-warning);
  -webkit-mask: var(--icon) center/contain no-repeat;
  mask: var(--icon) center/contain no-repeat;
  flex-shrink: 0;
  --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='white' d='M13.6572 5.42868C13.8879 5.29002 14.1806 5.30402 14.3973 5.46468C14.6133 5.62602 14.7119 5.90068 14.6473 6.16202L13.3139 11.4954C13.2393 11.7927 12.9726 12.0007 12.6666 12.0007H3.33325C3.02725 12.0007 2.76058 11.792 2.68592 11.4954L1.35258 6.16202C1.28792 5.90068 1.38658 5.62602 1.60258 5.46468C1.81992 5.30468 2.11192 5.29068 2.34325 5.42868L5.13192 7.10202L7.44592 3.63068C7.46173 3.60697 7.48377 3.5913 7.50588 3.57559C7.5192 3.56612 7.53255 3.55663 7.54458 3.54535L6.90258 2.90268C6.77325 2.77335 6.77325 2.56068 6.90258 2.43135L7.76458 1.56935C7.89392 1.44002 8.10658 1.44002 8.23592 1.56935L9.09792 2.43135C9.22725 2.56068 9.22725 2.77335 9.09792 2.90268L8.45592 3.54535C8.46794 3.55686 8.48154 3.56651 8.49516 3.57618C8.51703 3.5917 8.53897 3.60727 8.55458 3.63068L10.8686 7.10202L13.6572 5.42868ZM2.66667 12.6673H13.3333V14.0007H2.66667V12.6673Z'/%3E%3C/svg%3E");
}

/* fix PronounDB's chat pronoun formatting
  by: 5h3i1ah#6253 https://canary.discord.com/channels/538759280057122817/755005803303403570/931904851586195476
*/
.pronoundb-pronouns {
    font-size: 0.75rem !important;
    height: 1.25rem;
    cursor: default;
    font-weight: 500;
}