/* Avatar Roundness, credit to It'sJustJosh#2812 msg:859487973900288000 */
img[class^="avatar-"]{
border-radius: var(--avatar-radius) !important;}
:root .root-3QyAh1 .topSection-y3p-_D > header .header-4zuFdR .mask-1l8v16 foreignObject {
mask: none !important; border-radius: var(--avatar-radius) !important;}
:root .userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .avatarUploaderInner-Oiob_P {
border: none !important ; border-radius: var(--avatar-radius) !important;}
:root .wrapper-3t9DeA, :root .avatar-1BDn8e, :root .profile-1eT9hT .avatarUploaderInner-3UNxY3,
:root .voiceAvatar-14IynY, :root .avatar-3tNQiO, :root .border-Jn5IOt, :root .avatar-3bWpYy, :root .clickableAvatar-1wQpeh,
:root .emptyUser-7txhlW, :root .avatar-VxgULZ, :root .wrapper-2QE8vf.ringingIncoming-38YcLn::after,
:root .wrapper-2QE8vf.ringingOutgoing-mbXhhQ::after, :root .replyAvatar-1K9Wmr, :root .avatarSpeaking-2c8-9i,
:root .avatar-3Heyg_, :root .avatarContainer-2LLZwy, :root .appAvatar-3bgkQ9 {
border-radius: var(--avatar-radius) !important;}
:root .wrapper-3t9DeA foreignObject, :root .callAvatarMask-1SLlRi foreignObject,
:root .avatarContainer-3CQrif foreignObject, :root .avatarMasked-3y6o4j, :root .avatarContainerMasked-PIJ-3L foreignObject {
mask: none !important;
-webkit-mask: none !important;}
:root .wrapper-3t9DeA, :root .avatar-1BDn8e, :root .profile-1eT9hT .avatarUploaderInner-3UNxY3,
:root .voiceAvatar-14IynY, :root .avatar-3tNQiO, :root .border-Jn5IOt, :root .avatar-3bWpYy, :root .clickableAvatar-1wQpeh,
:root .emptyUser-7txhlW, :root .avatar-VxgULZ, :root .wrapper-2QE8vf.ringingIncoming-38YcLn::after,
:root .wrapper-2QE8vf.ringingOutgoing-mbXhhQ::after, :root .replyAvatar-1K9Wmr, :root .avatarSpeaking-2c8-9i,
:root .avatar-3Heyg_, :root .avatarContainer-2LLZwy, :root .appAvatar-3bgkQ9 {
border-radius: var(--avatar-radius) !important;}


/* Server Roundness (yoinked from: Comfy by Nyria#3863) */
:root .wrapperSimple-19ogV2, :root .wrapper-25eVIn foreignObject, :root .folderIconWrapper-226oVY, :root .folderIconWrapper-1_bOZe, :root .expandedFolderBackground-2sPsd-, :root .flexChild-faoVW3 .avatarUploaderInner-3UNxY3, :root .guildIconImage-3qTk45 {
  border-radius: var(--server-radius);
}
:root .iconInactive-98JN5i {
  border-radius: calc(var(--server-radius) - 4px);
}
:root .wrapper-25eVIn foreignObject {
  mask: none;
}