/* ----- User Avatar Radius ----- */
img[class*="avatar-"], /* most avatars */
[class*="avatar-"][style], /* voice channel members */
svg[class*="avatarHint-"], /* user popout "View Profile" overlay */
[class*="avatarUploaderInner-"] /* settings popout preview */
{
  border-radius: var(--_pointless-radius-avatar) !important;
}

/* clear extra avatar (& emoji picker guild icon) radii masks */
foreignObject[mask*="url(#svg-mask-avatar"], foreignObject[mask*="url(#svg-mask-squircle)"] {
  mask: none;
}

/* ----- Guild Icon Radius ----- */
#app-mount [class*="container-"]>:is([class*="guilds-"], .BF-folderSidebar) [class*="listItem-"] svg>foreignObject, /* server & Discord, add server, explore icons */
#app-mount [class*="container-"]>:is([class*="guilds-"], .BF-folderSidebar) [class*="listItem-"] svg>foreignObject [class*="folderIconWrapper-"] [class*="iconInactive-"], /* mini-icons in folders */
img[class*="guildIcon-"]
{
  mask: none;
  border-radius: var(--_pointless-radius-server);
}
/* Remove extra border radii on icons & folders */
#app-mount [class*="container-"]>:is([class*="guilds-"], .BF-folderSidebar) [class*="listItem-"] [class*="wrapperSimple-"], /* same as above, repectively */
#app-mount [class*="container-"]>:is([class*="guilds-"], .BF-folderSidebar) [class*="listItem-"] svg>foreignObject [class*="folderIconWrapper-"]
{
  border-radius: unset;
}

/* Settings switches */
[class*="control-"]>[class*="container-"],
.powercord-product-header [class*="container-"] {
  border-radius: var(--_pointless-radius-interface);
}
[class*="control-"]>[class*="container-"]>svg>rect,
.powercord-product-header [class*="container-"]>svg>rect { /* inside bit */
  rx: var(--_pointless-radius-interface);
}