/* NOTE: could also use justify-self:end instead of transform: scaleX(-1), incase that gets too annoying to maintain */

/* ----- RIGHT ALIGN SELF MESSAGES ----- */
/* Flip whole message */
[data-is-author-self="true"] {
  transform: scaleX(-1);
}
/* Flip back avatar, header, compact timestamp, editing the message, message buttons, reply preview, reactions, and  */
[data-is-author-self="true"]>[class*="contents-"]>[class*="avatar-"],
[data-is-author-self="true"]>[class*="contents-"]>[class*="header-"],
[data-is-author-self="true"]>[class*="contents-"]>[class*="timestampVisibleOnHover-"],
[data-is-author-self="true"]>[class*="buttonContainer-"]> [class*="buttons-"] [class*="button-"],
[data-is-author-self="true"]>[class*="repliedMessage-"]> *,
[data-is-author-self="true"]>[class*="container-"]>[class*="reactions-"]> *,
[data-is-author-self="true"]>[class*="contents-"]>div:not([class*="messageContent-"]) {
  transform: scaleX(-1);
}
[data-is-author-self="true"]>[class*="contents-"]>[class*="avatar-"]:active { /* Flip back avatar when clicked */
  transform: translateY(1px) scaleX(-1);
}
/* Flip back message content (text) */
[data-is-author-self="true"]>[class*="contents-"]>[class*="messageContent-"]:not([class*="repliedTextContent-"]) {
  transform: scaleX(-1);
  /*display: inline-block; /* can't tell what this does, disabled because it adds unnecessary space to empty messages with embeds*/
  padding-right: 78px;
}
/* Flip back system messages (threads), embeds (rich, img link, vid link), attached images [vid?], and server [game?] invite */
[data-is-author-self="true"]>[class*="container-"]>:is(
  [class*="systemMessageContainer-"],
  [class*="embed-"],
  [class*="messageAttachment-"],
  [class*="userSelectNone-"],
  [class*="clickableSticker-"]
) {
  transform: scaleX(-1);
}

/* Reverse header items */
[data-is-author-self="true"]>[class*="contents-"]>[class*="header-"] {
  display: flex;
  flex-direction: row-reverse;
}
[data-is-author-self="true"]>[class*="contents-"]>[class*="header-"]>[class*="headerText-"] {
  margin-left: .25em;
  margin-right: 0;
}
/* Reverse reactions */
[data-is-author-self="true"]>[class*="container-"]>[class*="reactions-"] {
  display: flex;
  flex-direction: row-reverse;
}
/* Put the embed border on the right (for Youtube/Twitter etc. embeds) */
[data-is-author-self="true"]>[class*="container-"]>[class*="embedFull-"] {
  border-left: none;
  border-right: 4px solid;
}
/* Fix thread formatting */
[data-is-author-self="true"]>[class*="contents-"] [class*="iconContainer-"] {
  position: absolute;
  right: -82px;
  left: unset;
}
/* Fix codeblocks */
.markup-2BOw-j pre {
  max-width: none;
}
/* Bump compact timestamps out of the ping highlight right border */
[data-is-author-self="true"]>[class*="container-"]>[class*="timestampVisibleOnHover-"] {
  padding-right: .5rem;
}

/* embed structures (for reference)
thread          container-1ov-mD > container-3hZ-gs systemMessageContainer-2ddkN3
rich embed      container-1ov-mD > embedWrapper-lXpS3L embedFull-2tM8-- embed-IeVjo6 markup-2BOw-j
uploaded image  container-1ov-mD > messageAttachment-1aDidq         > imageWrapper-2p5ogY embedWrapper-lXpS3L
link img embed  container-1ov-mD > embed-IeVjo6 embedWrapper-lXpS3L > imageWrapper-2p5ogY embedWrapper-lXpS3L embedMedia-1guQoW embedImage-2W1cML
link vid embed  container-1ov-mD > embed-IeVjo6 embedWrapper-lXpS3L > embedVideo-3nf0O9 embedMedia-1guQoW
server invite   container-1ov-mD > wrapper-35wsBm userSelectNone-Iy6XEP cursorDefault-331ZcI
sticker         container-1ov-mD > clickableSticker-3HmpgV > assetWrapper-3GNt0z > pngImage-33yLRP stickerAsset-13j1W0

*/



/*
[data-is-author-self="true"] .reactions-12N0jA {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
}

[data-is-author-self="true"] .container-1ov-mD,
[data-is-author-self="true"] .repliedMessage-VokQwo {
  display: flex;
  flex-direction: row-reverse !important;
}

[data-is-author-self="true"] .messageContent-2qWWxC:not(.repliedTextContent-1R3vnK),
[data-is-author-self="true"] .embedFull-2tM8--,
[data-is-author-self="true"] .wrapper-35wsBm,
[data-is-author-self="true"] .message-2qnXI6 .imageWrapper-2p5ogY,
[data-is-author-self="true"] .repliedMessage-VokQwo,
[data-is-author-self="true"] .messageContent-2qWWxC:not(.repliedTextContent-1R3vnK) pre code
{
  border-top-left-radius: 16px !important;
  border-top-right-radius: 0 !important;
}

[data-is-author-self="true"] .repliedMessage-VokQwo ~ .contents-2mQqc9 > .messageContent-2qWWxC:first-of-type {
  border-top-left-radius: 0 !important;
}

[data-is-author-self="true"] .repliedMessage-VokQwo {
  margin-left: auto !important;
  margin-right: 0px !important;
}

.slateTextArea-1Mkdgw {
  position: relative !important;
}*/