/* THIS FILE RESTYLES THE DISCORD SETTINGS MENU,
   IT IS NOT INTENDED TO BE EDITED BY END USERS!

  To edit the Pointless theme settings, see the 'settings.scss' file in
  the main folder of the theme, not this one in the 'layout' folder.

  NOTE: this targets both the User Settings and Guild Settings menus!
*/


[class*="guilds-"]>ul>[class*="scroller-"] [class*="listItem-"]>[class*="wrapper-3XVBev"],
[class*="content-"]>main[class*="chatContent-"]>[class*="layerContainer-"] {
  pointer-events: none !important;
}

#app-mount [class*="layers-"] {

  /* Settings content */
  &>:not([class*="baseLayer-"]) {
    left: 72px;
    overflow: visible;
    /*z-index: 9999;
    /*opacity: 0.85 !important;*/

    & [class*="standardSidebarView-"] {
      background-color: var(--background-tertiary);

      /* Settings tab scroller */
      &>[class*="sidebarRegion-"] {
        flex: 0 0 240px;
        width: 240px;

        &::before {
          content: "Settings";
          position: absolute;
          display: block;
          width: 208px;
          height: 20px;
          padding: 14px 16px;
          border-radius: 15px 15px 0 0;
          background-color: var(--background-secondary-alt);

          font-size: 15px;
          line-height: 20px;
          font-weight: 600;
          color: var(--header-primary);
        }

        &>[class*="sidebarRegionScroller-"] {
          display: block;
          margin-top: 48px;

          &>nav {
            width: 232px;
            padding: unset;

            /* direct container of settings tab list items */
            &>div {
              /* "Category" header */
              &>[class*="header-"] {
                padding: 20px 16px 4px;
                letter-spacing: .25px;
              }

              /* "Channel" */
              &>[class*="item-"] {
                padding: 7px 8px 5px;
                margin-left: 8px;

                /* "Channel" icon is handled by iconized-settings */
              }

              /* remove divider */
              &>[class*="separator-"] {
                display: none !important;
              }

              /* Move powercord settings to top */
              &>[data-item-id="pc-general"] {
                margin-top: 40px;
                overflow: visible;
                order: -1;

                /* Fake category for Replugged */
                &::after {
                  content: "Replugged";
                  position: absolute;
                  top: -40px;
                  left: -8px;
                  display: block;
                  width: 208px;
                  height: 20px;
                  padding: 20px 16px 4px;
                  pointer-events: none;

                  font-size: 12px;
                  font-weight: 700;
                  font-family: var(--font-display);
                  line-height: 16px;
                  text-transform: uppercase;
                  color: var(--channels-default);
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  flex-shrink: 0;
                  letter-spacing: 0.25px;
                }
              }
              &>[data-item-id="pc-updater"] { order: -1; }
              &>[data-item-id="pc-moduleManager-plugins"] { order: -1; }
              &>[data-item-id="pc-moduleManager-themes"] { order: -1; }
              &>[data-item-id="pc-moduleManager-css"] { order: -1; }

              /* fake category for Other */
              &>[data-item-id="HypesquadOnline"] {
                margin-top: 40px;
                overflow: visible;

                &::after {
                  content: "Other";
                  position: absolute;
                  top: -40px;
                  left: -8px;
                  display: block;
                  width: 208px;
                  height: 20px;
                  padding: 20px 16px 4px;
                  pointer-events: none;

                  font-size: 12px;
                  font-weight: 700;
                  font-family: var(--font-display);
                  line-height: 16px;
                  text-transform: uppercase;
                  color: var(--channels-default);
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  flex-shrink: 0;
                  letter-spacing: 0.25px;
                }
              }

              /* Logout, Changelog, & Delete (guild) as buttons */
              &>[data-item-id="changelog"],
              &>[data-item-id="logout"],
              &>[data-item-id="DELETE"] {
                order: 1;
                position: relative;
                padding: 8px 16px 8px 10px;
              }
              &>[data-item-id="changelog"] {
                margin: 8px 0 4px 8px;
                transition: background-color .17s ease,color .17s ease;
                color: #fff;
                background-color: var(--brand-experiment);
                &:hover {
                  background-color: var(--brand-experiment-560);
                }
              }
              &>[data-item-id="logout"], &>[data-item-id="DELETE"] {
                /*margin: 4px 0 8px 8px;*/
                transition: color .17s ease,background-color .17s ease,border-color .17s ease;
                border-width: 1px;
                border-style: solid;
                color: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);
                border-color: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);

                &:hover {
                  color: #fff !important;
                }
              }

              &>[class*="socialLinks-"] {
                order: 2;
                padding: 8px 20px 4px;
              }

              /* display theme version at end of list */
              &>[class*="info-"] {
                order: 2;
                &::after {
                  text-transform: none;
                  content: "pointless 0.4.7";
                  font-size: 12px;
                  line-height: 16px;
                  color: var(--text-muted);
                }
              }
            }
          }
        }
      }

      /* content of selected tab */
      &>[class*="contentRegion-"] {
        margin-left: 5px;
        background-color: unset;

        &>[class*="contentTransitionWrap-"] {
          border-radius: 15px 15px 0 0;
          background-color: var(--background-primary-alt);

          &>[class*="contentRegionScroller-"] {
            /* title as "channel" title */
            margin-top: 48px;

            &>[class*="contentColumn-"] {
              padding: 16px 16px 80px 16px;
              max-width: unset;

              /* "channel title" */
              &>div:first-child:not([class*="margin"])>[class*="sectionTitle-"],
              &>div>div:first-child:not([class*="margin"])>[class*="sectionTitle-"],
              &>div>[class*="title-"],
              &>.powercord-settings-error>h2 {
                position: fixed;
                top: 22px;
                height: 48px;
                display: flex;
                align-items: center;

                &>h1 {
                  height: 24px;
                  margin-bottom: 0;
                  font-size: 16px;
                  line-height: 20px;
                  font-weight: 600;
                  color: var(--header-primary);
                  font-weight: 600;
                  font-family: var(--font-display);
                  overflow: hidden;
                  white-space: nowrap;
                  display: flex;
                  align-items: center;
                }
              }

              /* "channel title" icon */
              &>div:first-child:not([class*="margin"])>[class*="sectionTitle-"]>h1::before,
              &>div>div:first-child:not([class*="margin"])>[class*="sectionTitle-"]>h1::before,
              &>div>[class*="title-"]::before,
              &>.powercord-settings-error>h2::before {
                content: "";
                width: 24px;
                height: 24px;
                margin-right: 8px;
                background: currentColor;
                mask: var(--icon-mask) center/contain no-repeat;
                -webkit-mask: var(--icon-mask) center/contain no-repeat;
                flex-shrink: 0;
                --icon-mask: var(--icon, var(--pointless-icon-settings))
              }
            }

/* ----- INDIVIDUAL PAGE CONTENT CHANGES ----- */
            &>#profile-customization-tab {
              & [class*="customizationSection-"][class*="preview-"] {
                --_pointless-radius-avatar: var(--_pointless-discord-radius-avatar);
                --background-secondary: var(--_pointless-discord-secondary);
                --background-floating: var(--_pointless-discord-floating);
                --font-display: var(--_pointless-discord-font-display);

                div {
                  font-family: var(--_pointless-discord-font-primary);
                }
              }
            }






          }
        }
        /* Close button invisibly over guild list */
        & [class*="toolsContainer-"] {
          position: absolute;
          left: -317px;
          top: 0;
          padding-top: 0;
          height: 100%;

          &>div { /* tools- */
            width: 72px;
            height: 100%;

            &>div { /* container- */
              height: 100%;
              display: grid;

              &>[class*="closeButton-"] {
                width: 100%;
                height: 100%;
                display: unset;
                border: none;
                border-radius: unset;

                &:hover {
                  background-color: unset;
                }
                &>svg {
                  display: none;
                }
              }
              &>[class*="keybind-"] {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  /* force colors & pills of Home, guild & settings icons */
  &>[class*="baseLayer-"][aria-hidden="true"]>[class*="container-"] {
    &>[class*="guilds-"]>ul>[class*="scroller-"] {
      &>[class*="tutorialContainer-"]:first-child>div [class*="childWrapper-"] {
        background-color: var(--background-primary);
        color: var(--text-normal);
      }
      &>[class*="listItem-"]:nth-last-child(2) [class*="circleIconButton-"] {
        background-color: var(--background-primary);
        color: hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%);
      }
      & [class*="listItem-"] {
        & [class*="item-"] {
          opacity: 0 !important;
        }
      }
    }

    [class*=base-] > [class*=content-] > [class*=sidebar-] > section > [class*=container-] > [class*=flex-] > button:last-child {
      color: #fff;
      &::after {
        background-color: var(--brand-experiment);
      }

      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 8px;
        height: 40px;
        left: 0;
        top: 13px;
        border-radius: 0 4px 4px 0;
        margin-left: -4px;
        background-color: var(--header-primary);
      }
    }
  }

  /* Remove transition animations */

  /* Both main & settings content */
  &>[class*="animating-"] {
    pointer-events: initial;
    will-change: unset;

    /* oh so this is why the settings animation is so f-ing laggy
       it updates this property for EVERY SINGLE ELEMENT IN THE FUCKING APPLICATION TWICE WHY DISCORD */
    & * {
      pointer-events: unset !important;
    }
  }

  /* Main content, Settings content in */
  &>div {
    opacity: 1 !important;
    transform: unset !important;
  }

  /* Settings content out */
  &>[aria-hidden="false"] ~ [aria-hidden="false"] {
    display: none;
    pointer-events: none;
  }
}