[class*="userPopoutInner-"] {
  width: 600px !important;
  border-radius: var(--_pointless-radius-interface);
  overflow: unset;

  /* Move box-shadow to a seperate element for proper z-indexing w/ the Roles list background's shadow */
  box-shadow: unset;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    border-radius: var(--_pointless-radius-interface);
    box-shadow: var(--elevation-high);
  }

  /* ----- Banner & Avatar ----- */
  &>[class*="headerWrapper-"] {
    height: 112px;

    /* Banner fills whole top area */
    & [class*="banner-"] {
      max-width: unset;
      width: unset;
      height: 240px;
      border-radius: var(--_pointless-radius-interface);

      /* hide little "exclusive to Nitro" thingy, it interferes with with the badges & YES DISCORD I KNOW THE CUSTOM PROFILE BACKGROUNDS ARE A NITRO-EXCLUSIVE FEATURE */
      &>[class*="premiumIconWrapper-"] {
        display: none;
      }
    }

    /* Floating avatar */
    & [class*="avatarWrapper-"] {
      top: 16px; left: 260px;

      /* Remove background */
      & [class*="avatar-"] {
        border: unset;
        background-color: unset;
      }
      & [class*="avatarHint-"] {
        top: 0; left: 0;
      }
    }
  }

  /* ----- Name & Badges ----- */
  &>[class*="headerTop-"] {
    padding-top: 0;
    padding-bottom: 112px;
    overflow: unset;

    &>[class*="headerText-"] {
      width: fit-content;
      margin: auto;

      /* Center name & give background for visibility */
      &>:is([class*="nickname-"], [class*="headerTagNoNickname-"]) {
        position: relative;
        font-size: 20px;
        text-align: center;
        background-color: var(--background-floating);
        border: solid var(--background-floating);
        border-width: 4px 8px;
        border-radius: var(--_pointless-radius-interface);
      }

      /* Hide username if nickname is present, and the discriminator if it isn't */
      &>[class*="headerTagWithNickname-"],
      &>[class*="headerTagNoNickname-"]>[class*="discrimBase-"] {
        display: none;
      }
    }

    &>[class*="profileBadges-"] {
      top: -96px;
    }
  }

  /* ----- Body ----- */
  &>[class*="body-"] {
    width: 420px;
    overflow: unset !important;
    display: flex;
    flex-direction: column-reverse;

    &>[class*="bodyInnerWrapper-"] {
      background-color: unset; /* Epic "discord readds the same color when it's already in the background" moment */

      /* &>[class*="customStatus-"]>[class*="customStatusSoloEmoji-"] */
      &>[class*="customStatus-"] {
        position: absolute;
        top: -48px;

        &>[class*="customStatusSoloEmoji-"] {
          position: absolute;
          top: -32px;
        }
      }

      &>[class*="divider-"] { display: none; }

      /* Fix about me */
      &>[class*="userInfoSection-"]>[class*="clamped-"] {
        display: inline;
      }

      /* Roles list */
      &>h3[class*="bodyTitle-"]:first-of-type:not(:only-of-type) { /* Roles title:not(note when there's no roles)*/
        position: absolute;
        top: 0;
        height: auto;
        right: -170px;
        width: 160px;
      }
      &>[class*="rolesList-"] {
        position: absolute;
        height:auto;
        right:-170px;
        top: 24px;
        width: 160px;

        /* Extra background for when the role list is longer than the rest of the popout
         * Users with way too many roles can still cause a gap in the middle, but this is uncommon
         * and this method still works better than the previous implementation. */
        &::after {
          content: "";
          background-color: var(--background-floating);
          position: relative;
          width: 600px;
          height: 296px;
          top: -280px;
          left: -430px;
          flex: none;
          z-index: -1;
          border-radius: var(--_pointless-radius-interface);
          box-shadow: var(--elevation-high);
        }

        /* Role solid-color background */
        &>[class*="role-"] {
          overflow: hidden;

          & [class*="roleCircle-"]::after {
            content: "";
            position: absolute;
            top: -4px;
            left: -4px;
            width: 160px;
            height: 22px;
            background: inherit;
            opacity: 0.3;
            z-index: 0;
          }

          /* move role icons above the tinting. role names are intentionally left under the tint. */
          &>img {
            z-index: 1;
          }
        }

        /* Add role button */
        &>button {
          background-color: var(--interactive-muted);
        }
      }
    }
  }

  /* Message @user box */
  &>[class*="footer-"] {
    background-color:transparent;
    padding-right: 8px;
    width: 396px;
  }
}

/* Shift member list popouts left by 8px so they don't overlap the scroll bar. looks tidier */
[class*="animatorLeft-"]>[class*="userPopout-"] {
  position: relative;
  right: 8px;
}

/* Whoever designed this was just lazy, it looks like shit */
[class*="loadingPopout-"] {
  background-color: var(--background-floating);
  border-radius: var(--_pointless-radius-interface);
  margin-right: 8px;
}