[class*="sidebar-"]>section[class*="panels-"] {
  /* ----- SPLIT UP USER AREA ----- */
  /* Remove user area container */
  &>[class*="container-"] {
    height:0;
    margin-bottom: 0;
  }
  &>[class*="wrapper-"]>div { border: none; }

  /* Settings to bottom left (in guild navbar) */
  &>[class*="container-"]>[class*="flex-"]> button:last-child {
    /* turn the button itself into the background gradient (clickable area) */
    background: linear-gradient(transparent 0%, var(--background-tertiary) 10%);
    color: var(--text-normal);
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 72px;
    height: 64px;
    padding-top: 1px;
    border-radius: 0;

    &:hover { color: #fff; } /* light up gear on hover */
    &:active { transform: translateY(1px); } /* shift down on click (like other guild list items) */

    &:hover::before { /* fake pill on hover */
      content: "";
      position: absolute;
      display: block;
      width: 8px;
      height: 20px;
      left: 0;
      top: 23px;
      border-radius: 0 4px 4px 0;
      margin-left: -4px;
      background-color: var(--header-primary);
    }
    &::after { /* fake button shape (the gear is a child of the button & renders on top) */
      background-color: var(--background-primary);
      transition: background-color .15s ease-out,color .15s ease-out;
      position: absolute;
      content: "";
      z-index: -1;
      height: 48px;
      width: 48px;
      border-radius: var(--_pointless-radius-server);
    }
    &:hover::after { /* light up background on hover */
      background-color: var(--brand-experiment);
    }
  }

  /* Reorganize VC area & move Mute/Deafen to it */
  &>[class*="wrapper-"]>div {
    /* Resize VC area buttons to make room for Krisp */
    padding-right: 4px;
    &>[class*="actionButtons-"] { margin-right: 40px; }
    &>[class*="actionButtons-"] button { padding: 2px 0; }

    /* krisp button to bottom row, disconnect button to right of top row */
    &>[class*="flex-"]>[class*="flex-"] {
      position: absolute;
      left: 194px;
      top: 7px;
      height: 72px;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: end;

      & button:last-child { /* disconnect button width */
        width: 26px;
      }
    }
    &>[class*="flex-"]>[class*="inner-"] {
      max-width: 150px;
    }
  }
  &>[class*="container-"]>[class*="flex-"]>button[aria-checked] { /* Move Mute/Deafen */
    position: relative;
    bottom: 64px;
    left: 150px;
    width: 26px;
  }
  &>[class*="wrapper-"]:empty ~ [class*="container-"]>[class*="flex-"]>button[aria-checked] {display:none} /* but hide them when there's no VC area */

  /* User area pfp aligned with messages */
  & [class*="avatarWrapper-"] {
    left: 264px;
    bottom: 8px;
    position: absolute;
    z-index: 1;
    min-width: unset;

    &[class*="withTagAsButton-"]>[class*="nameTag-"] { display: none; }
    &:active { transform: translateY(1px); }
    &:hover { background-color: unset; }
  }
  & [class*="avatar-"][class*="wrapper-"] {
    width: 40px !important;
    height: 40px !important;

    & foreignObject { /* avatar img */
      width: 40px;
      height: 40px;
    }
    & rect { /* status indicator */
      x: 28px;
      y: 28px;
      width: 12px;
      height: 12px;
    }
  }
}