/* Remove background of avatar (popout, popout preview in settings) */
[class*="userPopout-"]>[class*="avatarWrapper-"] div[class*="avatar-"], [class*="avatarUploaderInner-"] {
  border: none;
  margin: 6px;
  background-color: transparent;
}


[class*="userPopout-"] {
  width: 600px !important;
}
/* Banner in background*/
[class*="userPopout-"]>[class*="headerNormal-"]>[class*="popoutBannerPremium-"]>[class*="premiumIconWrapper-"] {display:none}
[class*="userPopout-"]>[class*="headerNormal-"]>[class*="banner-"], .bannerNormal-22rPhb {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
[class*="userPopout-"]>[class*="headerNormal-"]>[class*="banner-"]>[class*="bannerOverlay-"] {
  display:none;
}
[class*="userPopout-"]>[class*="headerNormal-"]>[class*="banner-"]::after {
  content:"";
  background: linear-gradient(transparent 0%, rgba(0,0,0,.45) 30%);
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  border-radius: 8px;
}
.theme-light [class*="userPopout-"]>[class*="headerNormal-"]>[class*="banner-"]::after {
  background: linear-gradient(transparent 0%, rgba(255, 255, 255, 1) 30%);/**/
}
.theme-light [class*="userPopout-"]>[class*="headerNormal-"]>[class*="banner-"][style*="background-image: "]::after {
  background: linear-gradient(transparent 70%, var(--background-floating) 100%);/**/
}
.theme-light [class*="userPopout-"]>[class*="headerNormal-"]>[class*="banner-"][style*="background-image: "] {
  height: 120px;
  background-position-y: 0%;
}

/* Hanging avatar */
[class*="userPopout-"]>[class*="avatarWrapper-"], .avatarUploader-3XDtmn {
  top:-46px; left:252px;
}

/* Nickname & Usertag */
/*[class*="userPopout-"]>[class*="headerTop-"]>[class*="headerText-"] {
  background-color:rgba(0,0,0,.45);
  margin-top: 8px;
  border-radius: 4px;
  padding:4px;
}*/
[class*="userPopout-"]>[class*="headerTop-"] {
  padding-top: 101px;
}
/*[class*="userPopout-"]>[class*="headerTop-"]>[class*="headerText-"]>[class*="headerTag-"] {*/
[class*="userPopout-"]>[class*="headerTop-"]>[class*="headerText-"]>:is([class*="nickname-"], [class*="headerTag-"][class*="headerTagNoNickname-"]) {
  position: absolute;
  left:0;
  top:42px;
  width:600px;
  font-size: 20px;
  text-align: center;
}
[class*="userPopout-"]>[class*="headerTop-"]>[class*="headerText-"]>[class*="headerTag-"]:not([class*="headerTagNoNickname-"]) {display:none}
[class*="userPopout-"]>[class*="headerTop-"]>[class*="headerText-"]>[class*="headerTag-"][class*="headerTagNoNickname-"]>*:not(:first-child) {
  display: none;
}
/*[class*="userPopout-"]>[class*="headerTop-"]>[class*="headerText-"]>[class*="headerTag-"]>[class*="headerTagUsernameBase-"] {
  color: var(--interactive-active);
  font-weight: 600;
}
[class*="userPopout-"]>[class*="headerTop-"]>[class*="headerText-"]>[class*="headerTag-"]>[class*="discrimBase-"] {
  color: var(--header-secondary);
  font-weight: 600;
}*/
[class*="userPopout-"]>[class*="headerTop-"]>[class*="headerText-"]>[class*="setIdentityLink-"] {display: none}

/* ----- Body ----- */
[class*="userPopout-"]>[class*="body-"] {
  width:70%;
  overflow:unset !important;
  display: flex;
  flex-direction: column-reverse;
}
[class*="userPopout-"]>[class*="body-"]>[class*="divider-"] {
  display: none;
  /*position: absolute;
  top: -12px;
  width:568px;*/
}
[class*="userPopout-"]>[class*="body-"]>[class*="customStatus-"] { /* Move customstatus up below name */
  position: absolute;
  top: -48px;
  width: 568px;
}
[class*="userPopout-"]>[class*="body-"]>[class*="customStatus-"]>[class*="customStatusSoloEmoji-"] {
  position: absolute;
  top:-24px;
}
[class*="userPopout-"]>[class*="body-"]>[class*="bodyInnerWrapper-"] { /* Epic "discord readds the same color when it's already in the background" moment */
  background-color: transparent;
  /*display: flex;
  flex-direction: column;*/
  /*margin-bottom: 80px;*/
}

/* Notes + Pronouns */
[class*="userPopout-"]>[class*="body-"]>[class*="bodyInnerWrapper-"]>h3[class*="bodyTitle-"]:last-of-type { /* Note title */
  position: absolute;
  bottom:-8px;
  height:auto;
  width:38%;
}
[class*="userPopout-"]>[class*="body-"]>[class*="bodyInnerWrapper-"]>h3[class*="bodyTitle-"]:last-of-type:nth-last-child(4) {
  right:0;
}
[class*="userPopout-"]>[class*="body-"]>[class*="bodyInnerWrapper-"]>[class*="note-"] {
  position: absolute;
  bottom:-46px;
  height:auto;
  width:38%;
}
[class*="userPopout-"]>[class*="body-"]>[class*="bodyInnerWrapper-"]>[class*="note-"]:nth-last-child(3) {
  right:8px;
}
[class*="userPopout-"]>[class*="body-"]>[class*="bodyInnerWrapper-"]>div[class*="bodyTitle-"] { /* Pronouns title */
  position: absolute;
  bottom:-8px;
  height:auto;
  width:38%;
}
[class*="userPopout-"]>[class*="body-"]>[class*="bodyInnerWrapper-"]>:last-child:not([class*="note-"]) { /* Pronouns content */
  position: absolute;
  bottom:-30px;
  height:auto;
  width:38%;
}

/* Roles list */
[class*="userPopout-"]>[class*="body-"]>[class*="bodyInnerWrapper-"]>h3[class*="bodyTitle-"]:first-of-type:not(:only-of-type) { /* Roles title:not(note when there's no roles)*/
  position: absolute;
  top:13px;
  height:auto;
  right:-170px;
  width:38%;
}
[class*="userPopout-"]>[class*="body-"]>[class*="bodyInnerWrapper-"]>[class*="rolesList-"] {
  position: absolute;
  height:auto;
  right:-170px;
  top:33px;
  width:38%;
  /*order:-1;
  transform: translateX(414px);
  position: relative;*/
}
[class*="userPopout-"]>[class*="body-"]>[class*="bodyInnerWrapper-"]>[class*="rolesList-"]>[class*="role-"] { /* role solid-color background */
  max-width: -webkit-fill-available;
  position:relative;
  overflow:hidden;
  z-index:1;
}
[class*="userPopout-"]>[class*="body-"]>[class*="bodyInnerWrapper-"]>[class*="rolesList-"]>[class*="role-"]>[class*="roleCircle-"] {
  min-width: 12px;
}
[class*="userPopout-"]>[class*="body-"]>[class*="bodyInnerWrapper-"]>[class*="rolesList-"]>[class*="role-"]>[class*="roleCircle-"]::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: inherit;
  opacity: 0.3;
  z-index: -1;
}

/*
headerTagNoNickname-3qrd77   headerTag-3GFl76 nameTag-m8r81H

nickname-3M3Jfa
headerTagWithNickname-3l_x6x headerTag-3GFl76 nameTag-m8r81H
*/

/* Message @user box */
[class*="userPopout-"]>[class*="footer-"] {
  margin-top:55px;
  background-color:transparent;
}



/*[aria-label="USER_SETTINGS-"] [class*="profileBannerPreview-"]>[class*="bannerNormal-"] {

}*/

/*
.layerContainer-yqaFcK .layer-v9HyYc#popout_2597 animatorRight/Left-3i_YPs.translate-2dAEQ6.didRender-33z1u8 .userPopout-xaxa6l
.popouts-2bnG9Z .popout-2iWAc- .userPopout-xaxa6l
*/
