.theme-dark {
  --background-primary: #1b2340;                    /* Channel background, top bar, settings content */
  --background-secondary: #171d36;                  /* Channel, member, and settings list, quoteblocks, embed backgrounds */
  --background-secondary-alt: #121629;              /* bottom left user area, user popout message bg, connections header */
  --background-tertiary: #0b0e1a;                   /* Title bar & server list, search text bar, user note background */

  --background-modifier-hover: rgba(37, 49, 89, 0.4);     /* Channel, member, and settings list hover | rgba(79,84,92,0.16);*/
  --background-modifier-active: rgba(37, 49, 89, 0.7);    /* Channel, member, and settings list clicking (mouse down) | rgba(79,84,92,0.24);*/
  --background-modifier-selected: rgba(37, 49, 89, 0.7);  /* Channel, member, and settings list selected | rgba(79,84,92,0.32);*/

  --scrollbar-thin-thumb: var(--background-tertiary); /* Channel, Member, & Settings lists (on hover), All Modals (regardless of if scrolls), shows up but never scrolls: user popout, all context menus */
  /*--scrollbar-thin-track: transparent;              /* Track for above, no rounding | transparent */
  --scrollbar-auto-thumb: var(--background-tertiary); /* Chat & friends page */
  --scrollbar-auto-track: var(--background-secondary);/* Track for above */

  /* Chat Bubble colors TODO: good colors*/
  --chatbubble-self: linear-gradient(#4152a3 0%,#344183 100%);
  --chatbubble-other: linear-gradient(var(--background-secondary) 0%,var(--background-secondary-alt) 100%);
  --chatbubble-self-text: #fff;
  --chatbubble-other-text: #fff;
}

:root {
  --background-accent: #7289da;                     /* Reply & thread line (channel list & creation message) */
  --channeltextarea-background: var(--background-secondary); /* Message textarea */
  --background-floating: var(--background-tertiary);  /* User popout background, tooltip background */


  --deprecated-card-bg: var(--background-secondary);
}

.theme-light {
  --background-primary: #d0ddf2;                    /* Channel background, top bar, settings content */
  --background-secondary: #dee9fa;                  /* Channel, member, and settings list, quoteblocks, embed backgrounds */
  --background-secondary-alt: #cedcf2;              /* bottom left user area, user popout message bg, connections header */
  --background-tertiary: #a3b7d9;                   /* Title bar & server list, search text bar, user note background */
  --background-floating: #dee9fa;

  --interactive-muted: #a3b7d9;

  --scrollbar-thin-thumb: var(--background-tertiary); /* Channel, Member, & Settings lists (on hover), All Modals (regardless of if scrolls), shows up but never scrolls: user popout, all context menus */
  /*--scrollbar-thin-track: transparent;              /* Track for above, no rounding | transparent */
  --scrollbar-auto-thumb: var(--background-tertiary); /* Chat & friends page */
  --scrollbar-auto-track: var(--background-secondary);/* Track for above */

  --chatbubble-self: linear-gradient(#00c8d3 0%,#3654e8 100%);
  --chatbubble-other: linear-gradient(#00c8d3 0%,#3654e8 100%);
  --chatbubble-self-text: #fff;
  --chatbubble-other-text: #fff;
  --text-link: hsl(215,calc(var(--saturation-factor, 1)*100%),43.9%)
}


/* ----- COLOR VAR USAGE CHANGES ----- */

/* Mic test bg */
div[class*="userSettingsVoice"] [class*="micTest"] [class*="progress"] {
  background-color: var(--background-secondary);
}
/* Slider bar backgrounds */
div[class*="slider"] > [class*="bar"] {
  background-color: var(--background-secondary);
}