.theme-dark {
  --background-primary-alt: hsl(220,7.7%,18.5%);

  --chatbubble-self: linear-gradient(var(--brand-experiment-560) 0%, var(--brand-experiment) 100%);
  --chatbubble-other: linear-gradient(var(--background-secondary) 0%, var(--background-secondary-alt) 100%);
  --chatbubble-self-text: #fff;
  --chatbubble-other-text: #fff;
}
.theme-light {
  --background-primary-alt: hsl(225,7%,95.5%);

  --chatbubble-self: linear-gradient(var(--brand-experiment-360) 0%, var(--brand-experiment-500) 100%);
  --chatbubble-other: var(--chatbubble-self);
  --chatbubble-self-text: #fff;
  --chatbubble-other-text: #fff;
}